In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Match_Scoreboard.csv')

In [10]:
df

,match_no,Home_team_run,Home_team_wickets,Home_team_over,Away_team_run,Away_team_wickets,Away_team_over
0,1,182,5,19.2,178,7,20.0
1,2,191,5,20.0,146,7,16.0
2,3,193,6,20.0,143,9,20.0
3,4,131,8,20.0,203,5,20.0
4,5,172,2,16.2,171,7,20.0
...,...,...,...,...,...,...,...
65,66,187,5,20.0,189,6,19.4
66,67,146,9,20.0,223,3,20.0
67,68,175,7,20.0,176,8,20.0
68,69,201,2,18.0,200,5,20.0
69,70,197,5,20.0,198,4,19.1

In [12]:
df_2 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Matches.csv', encoding='ISO-8859-1')

In [13]:
df_2

,match_no,city,date_of_match,venue,Home_team,Away_team,toss_winner,winner,man_of_the_match,result,result_margin,eliminator,umpire1,umpire2
0,1,Ahmedabad,3/31/2023,Narendra Modi Stadium,Gujarat Titans,Chennai Super Kings,Gujarat Titans,Gujarat Titans,Rashid Khan,Wickets,5,N,Nitin Menon,Saiyed Khalid
1,2,Mohali,4/1/2023,Punjab Cricket Association IS Bindra Stadium,Punjab Kings,Kolkata Knight Riders,Kolkata Knight Riders,Punjab Kings,Arshdeep Singh,Runs,7,DLS,Bruce Oxenford,Yeshwant Barde
2,3,Lucknow,4/1/2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,Delhi Capitals,Delhi Capitals,Lucknow Super Giants,Mark Wood,Runs,50,N,Anil Kumar Chaudhary,Nikhil Patwardhan
3,4,Hyderabad,4/2/2023,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,Rajasthan Royals,Jos Buttler,Runs,72,N,KN Anantha Padmanabhan,Rohan Pandit
4,5,Bengaluru,4/2/2023,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,Faf du Plessis,Wickets,8,N,Nitin Menon,Tapan Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,66,Dharamsala,5/19/2023,Himachal Pradesh Cricket Association Stadium,Punjab Kings,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,Devdutt Padikkal,Wickets,4,N,Nand Kishore,Rod Tucker
66,67,Delhi,5/20/2023,Arun Jaitley Stadium,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Ruturaj Gaikwad,Runs,77,N,Chris Gaffaney,Nikhil Patwardhan
67,68,Kolkata,5/20/2023,Eden Gardens,Kolkata Knight Riders,Lucknow Super Giants,Kolkata Knight Riders,Lucknow Super Giants,Nicholas Pooran,Runs,1,N,Jayaraman Madanagopal,Ulhas Gandhe
68,69,Mumbai,5/21/2023,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Cameron Green,Wickets,8,N,Rod Tucker,KN Anantha Padmanabhan
69,70,Bengaluru,5/21/2023,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,Gujarat Titans,Shubman Gill,Wickets,6,N,Nitin Menon,Virender Sharma

In [14]:
df_3 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Batsman.csv', encoding='ISO-8859-1')

In [15]:
df_3

,match_no,Batsman,team,Run,Ball,4s,6s,out_by
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little
...,...,...,...,...,...,...,...,...
1109,70,Shubman Gill,Gujarat Titans,104,52,5,8,Not Out
1110,70,Vijay Shankar,Gujarat Titans,53,35,7,2,Vijaykumar Vyshak
1111,70,Dasun Shanaka,Gujarat Titans,0,3,0,0,Harshal Patel
1112,70,David Miller,Gujarat Titans,6,7,1,0,Mohammed Siraj
1113,70,Rahul Tewatia,Gujarat Titans,4,5,0,0,Not Out

In [16]:
df_4 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Bowler.csv', encoding='ISO-8859-1')

In [17]:
df_4

,match_no,Bowler,team,over,run,wicket,No_ball,ECO
0,1,Mohammed Shami,Gujarat Titans,4.0,29,2,1,7.3
1,1,Hardik Pandya,Gujarat Titans,3.0,28,0,0,9.3
2,1,Joshua Little,Gujarat Titans,4.0,41,1,0,10.3
3,1,Rashid Khan,Gujarat Titans,4.0,26,2,0,6.5
4,1,Alzarri Joseph,Gujarat Titans,4.0,33,2,0,8.3
...,...,...,...,...,...,...,...,...
848,70,Wayne Parnell,Royal Challengers Bangalore,3.1,42,0,1,13.5
849,70,Vijaykumar Vyshak,Royal Challengers Bangalore,4.0,40,1,0,10.0
850,70,Himanshu Sharma,Royal Challengers Bangalore,3.0,28,0,0,9.3
851,70,Harshal Patel,Royal Challengers Bangalore,4.0,29,1,0,7.3
852,70,Michael Bracewell,Royal Challengers Bangalore,1.0,16,0,0,16.0