In [1]:
import pandas as pd
import numpy as np

# Download the 2023 dataset

In [2]:
df = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Match_Scoreboard.csv')

In [3]:
df

,match_no,Home_team_run,Home_team_wickets,Home_team_over,Away_team_run,Away_team_wickets,Away_team_over
0,1,182,5,19.2,178,7,20.0
1,2,191,5,20.0,146,7,16.0
2,3,193,6,20.0,143,9,20.0
3,4,131,8,20.0,203,5,20.0
4,5,172,2,16.2,171,7,20.0
...,...,...,...,...,...,...,...
65,66,187,5,20.0,189,6,19.4
66,67,146,9,20.0,223,3,20.0
67,68,175,7,20.0,176,8,20.0
68,69,201,2,18.0,200,5,20.0
69,70,197,5,20.0,198,4,19.1

In [4]:
df.columns

Index(['match_no', 'Home_team_run', 'Home_team_wickets', 'Home_team_over',
       'Away_team_run', 'Away_team_wickets', 'Away_team_over'],
      dtype='object')

In [5]:
df_2 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Matches.csv', encoding='ISO-8859-1')

In [6]:
df_2

,match_no,city,date_of_match,venue,Home_team,Away_team,toss_winner,winner,man_of_the_match,result,result_margin,eliminator,umpire1,umpire2
0,1,Ahmedabad,3/31/2023,Narendra Modi Stadium,Gujarat Titans,Chennai Super Kings,Gujarat Titans,Gujarat Titans,Rashid Khan,Wickets,5,N,Nitin Menon,Saiyed Khalid
1,2,Mohali,4/1/2023,Punjab Cricket Association IS Bindra Stadium,Punjab Kings,Kolkata Knight Riders,Kolkata Knight Riders,Punjab Kings,Arshdeep Singh,Runs,7,DLS,Bruce Oxenford,Yeshwant Barde
2,3,Lucknow,4/1/2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,Delhi Capitals,Delhi Capitals,Lucknow Super Giants,Mark Wood,Runs,50,N,Anil Kumar Chaudhary,Nikhil Patwardhan
3,4,Hyderabad,4/2/2023,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,Rajasthan Royals,Jos Buttler,Runs,72,N,KN Anantha Padmanabhan,Rohan Pandit
4,5,Bengaluru,4/2/2023,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,Faf du Plessis,Wickets,8,N,Nitin Menon,Tapan Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,66,Dharamsala,5/19/2023,Himachal Pradesh Cricket Association Stadium,Punjab Kings,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,Devdutt Padikkal,Wickets,4,N,Nand Kishore,Rod Tucker
66,67,Delhi,5/20/2023,Arun Jaitley Stadium,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Ruturaj Gaikwad,Runs,77,N,Chris Gaffaney,Nikhil Patwardhan
67,68,Kolkata,5/20/2023,Eden Gardens,Kolkata Knight Riders,Lucknow Super Giants,Kolkata Knight Riders,Lucknow Super Giants,Nicholas Pooran,Runs,1,N,Jayaraman Madanagopal,Ulhas Gandhe
68,69,Mumbai,5/21/2023,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Cameron Green,Wickets,8,N,Rod Tucker,KN Anantha Padmanabhan
69,70,Bengaluru,5/21/2023,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,Gujarat Titans,Shubman Gill,Wickets,6,N,Nitin Menon,Virender Sharma

In [7]:
df_2.columns

Index(['match_no', 'city', 'date_of_match', 'venue', 'Home_team', 'Away_team',
       'toss_winner', 'winner', 'man_of_the_match', 'result', 'result_margin',
       'eliminator', 'umpire1', 'umpire2'],
      dtype='object')

In [8]:
df_3 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Batsman.csv', encoding='ISO-8859-1')

In [9]:
df_3

,match_no,Batsman,team,Run,Ball,4s,6s,out_by
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little
...,...,...,...,...,...,...,...,...
1109,70,Shubman Gill,Gujarat Titans,104,52,5,8,Not Out
1110,70,Vijay Shankar,Gujarat Titans,53,35,7,2,Vijaykumar Vyshak
1111,70,Dasun Shanaka,Gujarat Titans,0,3,0,0,Harshal Patel
1112,70,David Miller,Gujarat Titans,6,7,1,0,Mohammed Siraj
1113,70,Rahul Tewatia,Gujarat Titans,4,5,0,0,Not Out

In [10]:
df_3.columns

Index(['match_no', 'Batsman', 'team', 'Run', 'Ball', '4s', '6s', 'out_by'], dtype='object')

In [11]:
df_4 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Bowler.csv', encoding='ISO-8859-1')

In [12]:
df_4

,match_no,Bowler,team,over,run,wicket,No_ball,ECO
0,1,Mohammed Shami,Gujarat Titans,4.0,29,2,1,7.3
1,1,Hardik Pandya,Gujarat Titans,3.0,28,0,0,9.3
2,1,Joshua Little,Gujarat Titans,4.0,41,1,0,10.3
3,1,Rashid Khan,Gujarat Titans,4.0,26,2,0,6.5
4,1,Alzarri Joseph,Gujarat Titans,4.0,33,2,0,8.3
...,...,...,...,...,...,...,...,...
848,70,Wayne Parnell,Royal Challengers Bangalore,3.1,42,0,1,13.5
849,70,Vijaykumar Vyshak,Royal Challengers Bangalore,4.0,40,1,0,10.0
850,70,Himanshu Sharma,Royal Challengers Bangalore,3.0,28,0,0,9.3
851,70,Harshal Patel,Royal Challengers Bangalore,4.0,29,1,0,7.3
852,70,Michael Bracewell,Royal Challengers Bangalore,1.0,16,0,0,16.0

In [13]:
df_4.columns

Index(['match_no', 'Bowler', 'team', 'over', 'run', 'wicket', 'No_ball',
       'ECO'],
      dtype='object')

In [14]:
# Index(['City', 'Season', 'Team1', 'Team2', 'Venue', 'TossWinner',
#       'TossDecision', 'WinningTeam', 'Avg_Weighted_Score_diff',
#       'batting_average_weighted_diff', 'batting_strike_rate_weighted_diff',
#       'bowling_average_diff', 'bowling_economy_rate_diff', 'win_ratio_diff'],
#      dtype='object')

# merge of the different df

# feature by feature

### City

In [15]:
df_2.rename(columns={"city": "City"}, inplace=True)

In [16]:
sorted(df_2["City"].unique())

['Ahmedabad',
 'Ahmedabad\xa0',
 'Bengaluru',
 'Chennai',
 'Delhi',
 'Dharamsala',
 'Guwahati',
 'Guwahati\xa0',
 'Hyderabad',
 'Jaipur',
 'Kolkata',
 'Lucknow',
 'Lucknow ',
 'Lucknow\xa0',
 'Mohali',
 'Mumbai\xa0']

In [17]:
df_2["City"] = [text.strip() for text in df_2["City"]] # removing space
df_2["City"] = [text.lower() for text in df_2["City"]] # lowercase

In [18]:
sorted(df_2["City"].unique())

['ahmedabad',
 'bengaluru',
 'chennai',
 'delhi',
 'dharamsala',
 'guwahati',
 'hyderabad',
 'jaipur',
 'kolkata',
 'lucknow',
 'mohali',
 'mumbai']

In [19]:
city_counts = df_2["City"].value_counts()

In [20]:
city_counts

City
ahmedabad     7
lucknow       7
hyderabad     7
bengaluru     7
chennai       7
delhi         7
kolkata       7
mumbai        7
mohali        5
jaipur        5
guwahati      2
dharamsala    2
Name: count, dtype: int64

In [21]:
df_2 = df_2[(df_2['City'] != 'guwahati') & (df_2['City'] != 'lucknow') & (df_2['City'] != 'mohali')]

guwahati, lucknow and mohali are not in the last dataset

In [22]:
city_counts = df_2["City"].value_counts()

In [23]:
city_counts

City
ahmedabad     7
hyderabad     7
bengaluru     7
chennai       7
delhi         7
kolkata       7
mumbai        7
jaipur        5
dharamsala    2
Name: count, dtype: int64

### Team1

In [24]:
df_2.rename(columns={"Home_team": "Team1"}, inplace=True)

/tmp/ipykernel_18063/3249091305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={"Home_team": "Team1"}, inplace=True)

In [25]:
sorted(df_2["Team1"].unique())

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [26]:
df_2["Team1"] = [text.strip() for text in df_2["Team1"]] # removing space
df_2["Team1"] = [text.lower() for text in df_2["Team1"]] # lowercase

/tmp/ipykernel_18063/1688002759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team1"] = [text.strip() for text in df_2["Team1"]] # removing space
/tmp/ipykernel_18063/1688002759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team1"] = [text.lower() for text in df_2["Team1"]] # lowercase

In [27]:
sorted(df_2["Team1"].unique()) # OK

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

### Team2

In [28]:
df_2.rename(columns={"Away_team": "Team2"}, inplace=True)

/tmp/ipykernel_18063/887359721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={"Away_team": "Team2"}, inplace=True)

In [29]:
df_2["Team2"] = [text.strip() for text in df_2["Team2"]] # removing space
df_2["Team2"] = [text.lower() for text in df_2["Team2"]] # lowercase

/tmp/ipykernel_18063/3834301573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team2"] = [text.strip() for text in df_2["Team2"]] # removing space
/tmp/ipykernel_18063/3834301573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team2"] = [text.lower() for text in df_2["Team2"]] # lowercase

In [30]:
sorted(df_2["Team1"].unique()) # OK

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

### Venue

In [31]:
df_2.rename(columns={"venue": "Venue"}, inplace=True)

/tmp/ipykernel_18063/2175989799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={"venue": "Venue"}, inplace=True)

In [32]:
df_2["Venue"] = [text.strip() for text in df_2["Venue"]] # removing space
df_2["Venue"] = [text.lower() for text in df_2["Venue"]] # lowercase

/tmp/ipykernel_18063/3275572560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Venue"] = [text.strip() for text in df_2["Venue"]] # removing space
/tmp/ipykernel_18063/3275572560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Venue"] = [text.lower() for text in df_2["Venue"]] # lowercase

In [33]:
venue_name_changes = {'arun jaitley stadiumi': 'arun jaitley stadium',
                      'narendra modi stadium':'narendra modi stadium, ahmedabad'
                      }
df_2['Venue'] = df_2['Venue'].replace(venue_name_changes)

/tmp/ipykernel_18063/605400193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Venue'] = df_2['Venue'].replace(venue_name_changes)

In [34]:
sorted(df_2["Venue"].unique()) # OK

['arun jaitley stadium',
 'eden gardens',
 'himachal pradesh cricket association stadium',
 'm.chinnaswamy stadium',
 'ma chidambaram stadium',
 'narendra modi stadium, ahmedabad',
 'rajiv gandhi international stadium',
 'sawai mansingh stadium',
 'wankhede stadium']

In [35]:
venue_counts = df_2["Venue"].value_counts()

In [36]:
venue_counts

Venue
narendra modi stadium, ahmedabad                7
rajiv gandhi international stadium              7
m.chinnaswamy stadium                           7
ma chidambaram stadium                          7
arun jaitley stadium                            7
eden gardens                                    7
wankhede stadium                                7
sawai mansingh stadium                          5
himachal pradesh cricket association stadium    2
Name: count, dtype: int64

In [37]:
df_2 = df_2[(df_2['Venue'] != 'bharat ratna shri atal bihari vajpayee ekana cricket stadium') & (df_2['Venue'] != 'barsapara cricket stadium')]

In [38]:
venue_counts = df_2["Venue"].value_counts()

In [39]:
venue_counts

Venue
narendra modi stadium, ahmedabad                7
rajiv gandhi international stadium              7
m.chinnaswamy stadium                           7
ma chidambaram stadium                          7
arun jaitley stadium                            7
eden gardens                                    7
wankhede stadium                                7
sawai mansingh stadium                          5
himachal pradesh cricket association stadium    2
Name: count, dtype: int64

New venues : bharat ratna shri atal bihari vajpayee ekana cricket stadium, barsapara cricket stadium

### TossWinner

In [40]:
df_2.rename(columns={"toss_winner": "TossWinner"}, inplace=True)

In [41]:
df_2["TossWinner"] = [text.strip() for text in df_2["TossWinner"]] # removing space
df_2["TossWinner"] = [text.lower() for text in df_2["TossWinner"]] # lowercase

In [42]:
sorted(df_2['TossWinner'].unique()) # OK

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'lucknow super giants',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

### TossDecision

In [43]:
toss_results = ['field','field','field','field','field','field','field','field','field','bat',
                'field','field','bat','field','field','field','field','field','field','field',
                'field','field','field','field','field','field','field','field','field','bat',
                'field','field','field','bat','field','field','bat','field','field','bat',
                'bat','bat','bat','bat','field','field','bat','bat','field','bat',
                'field','bat','bat','field','bat','field','field','bat','field','bat',
                'bat','field','field','field','field','field','bat','field','field','field']

# Ajoutez la colonne "Toss_Result" au DataFrame
df_2['TossDecision'] = pd.Series(toss_results)

### WinningTeam

In [44]:
df_2.rename(columns={"winner": "WinningTeam"}, inplace=True)

In [45]:
df_2["WinningTeam"] = [text.strip() for text in df_2["WinningTeam"]] # removing space
df_2["WinningTeam"] = [text.lower() for text in df_2["WinningTeam"]] # lowercase

In [46]:
sorted(df_2['WinningTeam'].unique())

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'lucknow super giants',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

In [47]:
winning_counts = df_2["WinningTeam"].value_counts()

In [48]:
winning_counts   # drop the draw ??

WinningTeam
gujarat titans                 8
chennai super kings            8
mumbai indians                 7
rajasthan royals               6
kolkata knight riders          6
royal challengers bangalore    5
delhi capitals                 5
sunrisers hyderabad            4
lucknow super giants           4
punjab kings                   3
Name: count, dtype: int64

In [49]:
df_2 = df_2[df_2['WinningTeam'] != 'draw']

In [50]:
df_2.head()

,match_no,City,date_of_match,Venue,Team1,Team2,TossWinner,WinningTeam,man_of_the_match,result,result_margin,eliminator,umpire1,umpire2,TossDecision
0,1,ahmedabad,3/31/2023,"narendra modi stadium, ahmedabad",gujarat titans,chennai super kings,gujarat titans,gujarat titans,Rashid Khan,Wickets,5,N,Nitin Menon,Saiyed Khalid,field
3,4,hyderabad,4/2/2023,rajiv gandhi international stadium,sunrisers hyderabad,rajasthan royals,sunrisers hyderabad,rajasthan royals,Jos Buttler,Runs,72,N,KN Anantha Padmanabhan,Rohan Pandit,field
4,5,bengaluru,4/2/2023,m.chinnaswamy stadium,royal challengers bangalore,mumbai indians,royal challengers bangalore,royal challengers bangalore,Faf du Plessis,Wickets,8,N,Nitin Menon,Tapan Sharma,field
5,6,chennai,4/3/2023,ma chidambaram stadium,chennai super kings,lucknow super giants,lucknow super giants,chennai super kings,Moeen Ali,Wickets,12,N,Akshay Totre,Bruce Oxenford,field
6,7,delhi,4/4/2023,arun jaitley stadium,delhi capitals,gujarat titans,gujarat titans,gujarat titans,Sai Sudharsan,Wickets,6,N,Nand Kishore,Sadashiv Iyer,field

In [51]:
df_2.to_csv('../raw_data/data2023.csv')