In [1]:
import pandas as pd
import numpy as np

# Download the 2023 dataset

In [2]:
df = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Match_Scoreboard.csv')

In [3]:
df

,match_no,Home_team_run,Home_team_wickets,Home_team_over,Away_team_run,Away_team_wickets,Away_team_over
0,1,182,5,19.2,178,7,20.0
1,2,191,5,20.0,146,7,16.0
2,3,193,6,20.0,143,9,20.0
3,4,131,8,20.0,203,5,20.0
4,5,172,2,16.2,171,7,20.0
...,...,...,...,...,...,...,...
65,66,187,5,20.0,189,6,19.4
66,67,146,9,20.0,223,3,20.0
67,68,175,7,20.0,176,8,20.0
68,69,201,2,18.0,200,5,20.0
69,70,197,5,20.0,198,4,19.1

In [4]:
df.columns

Index(['match_no', 'Home_team_run', 'Home_team_wickets', 'Home_team_over',
       'Away_team_run', 'Away_team_wickets', 'Away_team_over'],
      dtype='object')

In [5]:
df_2 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Matches.csv', encoding='ISO-8859-1')

In [6]:
df_2

,match_no,city,date_of_match,venue,Home_team,Away_team,toss_winner,winner,man_of_the_match,result,result_margin,eliminator,umpire1,umpire2
0,1,Ahmedabad,3/31/2023,Narendra Modi Stadium,Gujarat Titans,Chennai Super Kings,Gujarat Titans,Gujarat Titans,Rashid Khan,Wickets,5,N,Nitin Menon,Saiyed Khalid
1,2,Mohali,4/1/2023,Punjab Cricket Association IS Bindra Stadium,Punjab Kings,Kolkata Knight Riders,Kolkata Knight Riders,Punjab Kings,Arshdeep Singh,Runs,7,DLS,Bruce Oxenford,Yeshwant Barde
2,3,Lucknow,4/1/2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,Delhi Capitals,Delhi Capitals,Lucknow Super Giants,Mark Wood,Runs,50,N,Anil Kumar Chaudhary,Nikhil Patwardhan
3,4,Hyderabad,4/2/2023,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,Rajasthan Royals,Jos Buttler,Runs,72,N,KN Anantha Padmanabhan,Rohan Pandit
4,5,Bengaluru,4/2/2023,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,Faf du Plessis,Wickets,8,N,Nitin Menon,Tapan Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,66,Dharamsala,5/19/2023,Himachal Pradesh Cricket Association Stadium,Punjab Kings,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,Devdutt Padikkal,Wickets,4,N,Nand Kishore,Rod Tucker
66,67,Delhi,5/20/2023,Arun Jaitley Stadium,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Ruturaj Gaikwad,Runs,77,N,Chris Gaffaney,Nikhil Patwardhan
67,68,Kolkata,5/20/2023,Eden Gardens,Kolkata Knight Riders,Lucknow Super Giants,Kolkata Knight Riders,Lucknow Super Giants,Nicholas Pooran,Runs,1,N,Jayaraman Madanagopal,Ulhas Gandhe
68,69,Mumbai,5/21/2023,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Cameron Green,Wickets,8,N,Rod Tucker,KN Anantha Padmanabhan
69,70,Bengaluru,5/21/2023,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,Gujarat Titans,Shubman Gill,Wickets,6,N,Nitin Menon,Virender Sharma

In [7]:
df_2.columns

Index(['match_no', 'city', 'date_of_match', 'venue', 'Home_team', 'Away_team',
       'toss_winner', 'winner', 'man_of_the_match', 'result', 'result_margin',
       'eliminator', 'umpire1', 'umpire2'],
      dtype='object')

In [8]:
df_3 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Batsman.csv', encoding='ISO-8859-1')

In [9]:
df_3

,match_no,Batsman,team,Run,Ball,4s,6s,out_by
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little
...,...,...,...,...,...,...,...,...
1109,70,Shubman Gill,Gujarat Titans,104,52,5,8,Not Out
1110,70,Vijay Shankar,Gujarat Titans,53,35,7,2,Vijaykumar Vyshak
1111,70,Dasun Shanaka,Gujarat Titans,0,3,0,0,Harshal Patel
1112,70,David Miller,Gujarat Titans,6,7,1,0,Mohammed Siraj
1113,70,Rahul Tewatia,Gujarat Titans,4,5,0,0,Not Out

In [10]:
df_3.columns

Index(['match_no', 'Batsman', 'team', 'Run', 'Ball', '4s', '6s', 'out_by'], dtype='object')

In [11]:
df_4 = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL2023_Bowler.csv', encoding='ISO-8859-1')

In [12]:
df_4

,match_no,Bowler,team,over,run,wicket,No_ball,ECO
0,1,Mohammed Shami,Gujarat Titans,4.0,29,2,1,7.3
1,1,Hardik Pandya,Gujarat Titans,3.0,28,0,0,9.3
2,1,Joshua Little,Gujarat Titans,4.0,41,1,0,10.3
3,1,Rashid Khan,Gujarat Titans,4.0,26,2,0,6.5
4,1,Alzarri Joseph,Gujarat Titans,4.0,33,2,0,8.3
...,...,...,...,...,...,...,...,...
848,70,Wayne Parnell,Royal Challengers Bangalore,3.1,42,0,1,13.5
849,70,Vijaykumar Vyshak,Royal Challengers Bangalore,4.0,40,1,0,10.0
850,70,Himanshu Sharma,Royal Challengers Bangalore,3.0,28,0,0,9.3
851,70,Harshal Patel,Royal Challengers Bangalore,4.0,29,1,0,7.3
852,70,Michael Bracewell,Royal Challengers Bangalore,1.0,16,0,0,16.0

In [13]:
df_4.columns

Index(['match_no', 'Bowler', 'team', 'over', 'run', 'wicket', 'No_ball',
       'ECO'],
      dtype='object')

In [14]:
# Index(['City', 'Season', 'Team1', 'Team2', 'Venue', 'TossWinner',
#       'TossDecision', 'WinningTeam', 'Avg_Weighted_Score_diff',
#       'batting_average_weighted_diff', 'batting_strike_rate_weighted_diff',
#       'bowling_average_diff', 'bowling_economy_rate_diff', 'win_ratio_diff'],
#      dtype='object')

# merge of the different df

# feature by feature

### City

In [15]:
df_2.rename(columns={"city": "City"}, inplace=True)

In [16]:
sorted(df_2["City"].unique())

['Ahmedabad',
 'Ahmedabad\xa0',
 'Bengaluru',
 'Chennai',
 'Delhi',
 'Dharamsala',
 'Guwahati',
 'Guwahati\xa0',
 'Hyderabad',
 'Jaipur',
 'Kolkata',
 'Lucknow',
 'Lucknow ',
 'Lucknow\xa0',
 'Mohali',
 'Mumbai\xa0']

In [17]:
df_2["City"] = [text.strip() for text in df_2["City"]] # removing space
df_2["City"] = [text.lower() for text in df_2["City"]] # lowercase

In [18]:
sorted(df_2["City"].unique())

['ahmedabad',
 'bengaluru',
 'chennai',
 'delhi',
 'dharamsala',
 'guwahati',
 'hyderabad',
 'jaipur',
 'kolkata',
 'lucknow',
 'mohali',
 'mumbai']

In [19]:
city_counts = df_2["City"].value_counts()

In [20]:
city_counts

City
ahmedabad     7
lucknow       7
hyderabad     7
bengaluru     7
chennai       7
delhi         7
kolkata       7
mumbai        7
mohali        5
jaipur        5
guwahati      2
dharamsala    2
Name: count, dtype: int64

In [21]:
df_2 = df_2[(df_2['City'] != 'guwahati') & (df_2['City'] != 'lucknow') & (df_2['City'] != 'mohali')]

guwahati, lucknow and mohali are not in the last dataset

In [22]:
city_counts = df_2["City"].value_counts()

In [23]:
city_counts

City
ahmedabad     7
hyderabad     7
bengaluru     7
chennai       7
delhi         7
kolkata       7
mumbai        7
jaipur        5
dharamsala    2
Name: count, dtype: int64

### Team1

In [24]:
df_2.rename(columns={"Home_team": "Team1"}, inplace=True)

/tmp/ipykernel_500/3249091305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={"Home_team": "Team1"}, inplace=True)

In [25]:
sorted(df_2["Team1"].unique())

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [26]:
df_2["Team1"] = [text.strip() for text in df_2["Team1"]] # removing space
df_2["Team1"] = [text.lower() for text in df_2["Team1"]] # lowercase

/tmp/ipykernel_500/1688002759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team1"] = [text.strip() for text in df_2["Team1"]] # removing space
/tmp/ipykernel_500/1688002759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team1"] = [text.lower() for text in df_2["Team1"]] # lowercase

In [27]:
sorted(df_2["Team1"].unique()) # OK

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

### Team2

In [28]:
df_2.rename(columns={"Away_team": "Team2"}, inplace=True)

/tmp/ipykernel_500/887359721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={"Away_team": "Team2"}, inplace=True)

In [29]:
df_2["Team2"] = [text.strip() for text in df_2["Team2"]] # removing space
df_2["Team2"] = [text.lower() for text in df_2["Team2"]] # lowercase

/tmp/ipykernel_500/3834301573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team2"] = [text.strip() for text in df_2["Team2"]] # removing space
/tmp/ipykernel_500/3834301573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Team2"] = [text.lower() for text in df_2["Team2"]] # lowercase

In [30]:
sorted(df_2["Team1"].unique()) # OK

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

### Venue

In [31]:
df_2.rename(columns={"venue": "Venue"}, inplace=True)

/tmp/ipykernel_500/2175989799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.rename(columns={"venue": "Venue"}, inplace=True)

In [32]:
df_2["Venue"] = [text.strip() for text in df_2["Venue"]] # removing space
df_2["Venue"] = [text.lower() for text in df_2["Venue"]] # lowercase

/tmp/ipykernel_500/3275572560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Venue"] = [text.strip() for text in df_2["Venue"]] # removing space
/tmp/ipykernel_500/3275572560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Venue"] = [text.lower() for text in df_2["Venue"]] # lowercase

In [33]:
venue_name_changes = {'arun jaitley stadiumi': 'arun jaitley stadium',
                      'narendra modi stadium':'narendra modi stadium, ahmedabad'
                      }
df_2['Venue'] = df_2['Venue'].replace(venue_name_changes)

/tmp/ipykernel_500/605400193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Venue'] = df_2['Venue'].replace(venue_name_changes)

In [34]:
sorted(df_2["Venue"].unique()) # OK

['arun jaitley stadium',
 'eden gardens',
 'himachal pradesh cricket association stadium',
 'm.chinnaswamy stadium',
 'ma chidambaram stadium',
 'narendra modi stadium, ahmedabad',
 'rajiv gandhi international stadium',
 'sawai mansingh stadium',
 'wankhede stadium']

In [35]:
venue_counts = df_2["Venue"].value_counts()

In [36]:
venue_counts

Venue
narendra modi stadium, ahmedabad                7
rajiv gandhi international stadium              7
m.chinnaswamy stadium                           7
ma chidambaram stadium                          7
arun jaitley stadium                            7
eden gardens                                    7
wankhede stadium                                7
sawai mansingh stadium                          5
himachal pradesh cricket association stadium    2
Name: count, dtype: int64

In [37]:
df_2 = df_2[(df_2['Venue'] != 'bharat ratna shri atal bihari vajpayee ekana cricket stadium') & (df_2['Venue'] != 'barsapara cricket stadium')]

In [38]:
venue_counts = df_2["Venue"].value_counts()

In [39]:
venue_counts

Venue
narendra modi stadium, ahmedabad                7
rajiv gandhi international stadium              7
m.chinnaswamy stadium                           7
ma chidambaram stadium                          7
arun jaitley stadium                            7
eden gardens                                    7
wankhede stadium                                7
sawai mansingh stadium                          5
himachal pradesh cricket association stadium    2
Name: count, dtype: int64

New venues : bharat ratna shri atal bihari vajpayee ekana cricket stadium, barsapara cricket stadium

### TossWinner

In [40]:
df_2.rename(columns={"toss_winner": "TossWinner"}, inplace=True)

In [41]:
df_2["TossWinner"] = [text.strip() for text in df_2["TossWinner"]] # removing space
df_2["TossWinner"] = [text.lower() for text in df_2["TossWinner"]] # lowercase

In [42]:
sorted(df_2['TossWinner'].unique()) # OK

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'lucknow super giants',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

### TossDecision

In [43]:
toss_results = ['field','field','field','field','field','field','field','field','field','bat',
                'field','field','bat','field','field','field','field','field','field','field',
                'field','field','field','field','field','field','field','field','field','bat',
                'field','field','field','bat','field','field','bat','field','field','bat',
                'bat','bat','bat','bat','field','field','bat','bat','field','bat',
                'field','bat','bat','field','bat','field','field','bat','field','bat',
                'bat','field','field','field','field','field','bat','field','field','field']

# Ajoutez la colonne "Toss_Result" au DataFrame
df_2['TossDecision'] = pd.Series(toss_results)

### WinningTeam

In [44]:
df_2.rename(columns={"winner": "WinningTeam"}, inplace=True)

In [45]:
df_2["WinningTeam"] = [text.strip() for text in df_2["WinningTeam"]] # removing space
df_2["WinningTeam"] = [text.lower() for text in df_2["WinningTeam"]] # lowercase

In [46]:
sorted(df_2['WinningTeam'].unique())

['chennai super kings',
 'delhi capitals',
 'gujarat titans',
 'kolkata knight riders',
 'lucknow super giants',
 'mumbai indians',
 'punjab kings',
 'rajasthan royals',
 'royal challengers bangalore',
 'sunrisers hyderabad']

In [47]:
winning_counts = df_2["WinningTeam"].value_counts()

In [48]:
winning_counts   # drop the draw ??

WinningTeam
gujarat titans                 8
chennai super kings            8
mumbai indians                 7
rajasthan royals               6
kolkata knight riders          6
royal challengers bangalore    5
delhi capitals                 5
sunrisers hyderabad            4
lucknow super giants           4
punjab kings                   3
Name: count, dtype: int64

In [49]:
df_2 = df_2[df_2['WinningTeam'] != 'draw']

In [50]:
df_2.head()

,match_no,City,date_of_match,Venue,Team1,Team2,TossWinner,WinningTeam,man_of_the_match,result,result_margin,eliminator,umpire1,umpire2,TossDecision
0,1,ahmedabad,3/31/2023,"narendra modi stadium, ahmedabad",gujarat titans,chennai super kings,gujarat titans,gujarat titans,Rashid Khan,Wickets,5,N,Nitin Menon,Saiyed Khalid,field
3,4,hyderabad,4/2/2023,rajiv gandhi international stadium,sunrisers hyderabad,rajasthan royals,sunrisers hyderabad,rajasthan royals,Jos Buttler,Runs,72,N,KN Anantha Padmanabhan,Rohan Pandit,field
4,5,bengaluru,4/2/2023,m.chinnaswamy stadium,royal challengers bangalore,mumbai indians,royal challengers bangalore,royal challengers bangalore,Faf du Plessis,Wickets,8,N,Nitin Menon,Tapan Sharma,field
5,6,chennai,4/3/2023,ma chidambaram stadium,chennai super kings,lucknow super giants,lucknow super giants,chennai super kings,Moeen Ali,Wickets,12,N,Akshay Totre,Bruce Oxenford,field
6,7,delhi,4/4/2023,arun jaitley stadium,delhi capitals,gujarat titans,gujarat titans,gujarat titans,Sai Sudharsan,Wickets,6,N,Nand Kishore,Sadashiv Iyer,field

In [51]:
# df_2.to_csv('../raw_data/data2023.csv')

### batter and bowler df

In [60]:
df_batter = pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/batter_data_2023.csv')

In [61]:
df_batter.head()

,POS,batter,Mat,bat_innings,not_out,total_runs,high_score,average_score,balls_faced,batting_average,100s,50s,fours,sixes
0,1,Shubman Gill,17,17,2,890,129,59.33,564,157.80,3,4,85,33
1,2,Faf Du Plessis,14,14,1,730,84,56.15,475,153.68,0,8,60,36
2,3,Devon Conway,16,15,2,672,92,51.69,481,139.70,0,6,77,18
3,4,Virat Kohli,14,14,2,639,101,53.25,457,139.82,2,6,65,16
4,5,Yashasvi Jaiswal,14,14,1,625,124,48.08,382,163.61,1,5,82,26

In [62]:
df_bowler =  pd.read_csv('/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/bowler_data_2023.csv')

In [63]:
df_bowler.head()

,POS,bowler,Mat,bowler_innings,overs,runs_conceded,wickets,bowling_average,bowling_economy_rate,bowling_strike_rate,four_wickets,five_wickets
0,1,Mohammad Shami,17,17,65.0,522,28,18.64,8.03,13.92,2,0
1,2,Mohit Sharma,14,14,44.1,361,27,13.37,8.17,9.81,2,1
2,3,Rashid Khan,17,17,67.0,552,27,20.44,8.23,14.88,1,0
3,4,Piyush Chawla,16,16,61.0,495,22,22.50,8.11,16.63,0,0
4,5,Yuzvendra Chahal,14,14,52.5,432,21,20.57,8.17,15.09,3,0

### list of player

In [65]:
sorted(df_batter["batter"].unique())

['Abdul Basith',
 'Abdul Samad',
 'Abhinav Manohar',
 'Abhishek Sharma',
 'Abishek Porel',
 'Adam Zampa',
 'Adil Rashid',
 'Aiden Markram',
 'Ajinkya Rahane',
 'Akash Deep',
 'Akeal Hosein',
 'Alzarri Joseph',
 'Aman Khan',
 'Ambati Rayudu',
 'Amit Mishra',
 'Andre Russell',
 'Anmolpreet Singh',
 'Anrich Nortje',
 'Anuj Rawat',
 'Anukul Roy',
 'Arjun Tendulkar',
 'Arshad Khan',
 'Arshdeep Singh',
 'Atharva Taide',
 'Axar Patel',
 'Ayush Badoni',
 'Ben Stokes',
 'Bhanuka Rajapaksa',
 'Bhuvneshwar Kumar',
 'Cameron Green',
 'Chetan Sakariya',
 'Chris Jordan',
 'Dasun Shanaka',
 'David Miller',
 'David Warner',
 'David Wiese',
 'David Willey',
 'Deepak Chahar',
 'Deepak Hooda',
 'Devdutt Padikkal',
 'Devon Conway',
 'Dhruv Jurel',
 'Dinesh Karthik',
 'Faf Du Plessis',
 'Fazalhaq Farooqi',
 'Glenn Maxwell',
 'Glenn Phillips',
 'Hardik Pandya',
 'Harpreet Bhatia',
 'Harpreet Brar',
 'Harry Brook',
 'Harshal Patel',
 'Heinrich Klaasen',
 'Hrithik Shokeen',
 'Ishan Kishan',
 'Ishant Sharma',
 'Jagadeesan Narayan',
 'Jason Behrendorff',
 'Jason Holder',
 'Jason Roy',
 'Jaydev Unadkat',
 'Jitesh Sharma',
 'Joe Root',
 'Jofra Archer',
 'Jos Buttler',
 'Josh Hazlewood',
 'K L Rahul',
 'Karan Sharma',
 'Karn Sharma',
 'Kedar Jadhav',
 'Krishnappa Gowtham',
 'Krunal Pandya',
 'Kuldeep Yadav',
 'Kumar Kartikeya Singh',
 'Kyle Mayers',
 'Lalit Yadav',
 'Liam Livingstone',
 'Liton Das',
 'MS Dhoni',
 'Mahipal Lomror',
 'Manan Vohra',
 'Mandeep Singh',
 'Manish Pandey',
 'Marco Jansen',
 'Marcus Stoinis',
 'Mark Wood',
 'Matthew Short',
 'Mayank Agarwal',
 'Mayank Markande',
 'Michael Bracewell',
 'Mitchell Marsh',
 'Mitchell Santner',
 'Moeen Ali',
 'Mohammad Shami',
 'Mohammed Siraj',
 'Mohit Rathee',
 'Mukesh Kumar',
 'Mustafizur Rahman',
 'Nathan Ellis',
 'Naveen-ul-Haq',
 'Nehal Wadera',
 'Nicholas Pooran',
 'Nitish Rana',
 'Noor Ahmad',
 'Phil Salt',
 'Piyush Chawla',
 'Praveen Dubey',
 'Prerak Mankad',
 'Prithvi Shaw',
 'Priyam Garg',
 'Quinton De Kock',
 'Rahmanullah Gurbaz',
 'Rahul Tewatia',
 'Rahul Tripathi',
 'Rashid Khan',
 'Ravi Bishnoi',
 'Ravichandran Ashwin',
 'Ravindra Jadeja',
 'Rilee Rossouw',
 'Rinku Singh',
 'Ripal Patel',
 'Rishi Dhawan',
 'Riyan Parag',
 'Rohit Sharma',
 'Rovman Powell',
 'Ruturaj Gaikwad',
 'Sai Sudharsan',
 'Sam Curran',
 'Sandeep Sharma',
 'Sanju Samson',
 'Sanvir Singh',
 'Sarfaraz Khan',
 'Shahbaz Ahmed',
 'Shahrukh Khan',
 'Shardul Thakur',
 'Shikhar Dhawan',
 'Shimron Hetmyer',
 'Shivam Dube',
 'Shubman Gill',
 'Sikandar Raza',
 'Simran Singh',
 'Sunil Narine',
 'Suryakumar Yadav',
 'Suyash S Prabhudessai',
 'Swapnil Singh',
 'Tilak Varma',
 'Tim David',
 'Trent Boult',
 'Tristan Stubbs',
 'Umesh Yadav',
 'Umran Malik',
 'Vaibhav Arora',
 'Varun Chakaravarthy',
 'Venkatesh Iyer',
 'Vijay Shankar',
 'Virat Kohli',
 'Vishnu Vinod',
 'Vivrant Sharma',
 'Vyshak Vijaykumar',
 'Wanindu Hasaranga',
 'Washington Sundar',
 'Wayne Parnell',
 'Wriddhiman Saha',
 'Yash Dhull',
 'Yashasvi Jaiswal',
 'Yudhvir Singh']

['Akash Madhwal',
 'Arjun Tendulkar',
 'Arshad Khan',
 'Cameron Green',
 'Dewald Brevis',
 'Duan Jansen',
 'Hrithik Shokeen',
 'Ishan Kishan',
 'Jason Behrendorff',
 'Jasprit Bumrah',
 'Jhye Richardson',
 'Jofra Archer (injured)',
 'Kumar Kartikeya',
 'Mohit Rathee',
 'Nehal Wadhera',
 'Piyush Chawla',
 'Raghav Goyal',
 'Ramandeep Singh',
 'Riley Meredith',
 'Rohit Sharma',
 'Shams Mulani',
 'Suryakumar Yadav',
 'Tilak Varma',
 'Tim David',
 'Tristan Stubbs',
 'Vishnu Vinod']

In [95]:
players = [
    "MS Dhoni", "Devon Conway", "Ruturaj Gaikwad", "Ambati Rayudu",
    "Subhranshu Senapati", "Moeen Ali", "Shivam Dube", "Rajvardhan Hangargekar",
    "Dwaine Pretorius", "Mitchell Santner", "Ravindra Jadeja", "Tushar Deshpande",
    "Mukesh Chowdhary", "Matheesha Pathirana", "Simarjeet Singh", "Deepak Chahar",
    "Prashant Solanki", "Maheesh Theekshana", "Ajinkya Rahane", "Ben Stokes", "Shaik Rasheed",
    "Nishant Sidhu", "Kyle Jamieson", "Sisanda Magala",
    "Bhagath Verma",
    
    "Rishabh Pant", "David Warner", "Prithvi Shaw", "Ripal Patel", "Rovman Powell",
    "Sarfaraz Khan", "Yash Dhull", "Mitchell Marsh", "Lalit Yadav", "Axar Patel", "Anrich Nortje",
    "Chetan Sakariya", "Kamlesh Nagarkoti", "Khaleel Ahmed", "Lungi Ngidi", "Mustafizur Rahman",
    "Aman Khan", "Kuldeep Yadav", "Praveen Dubey", "Vicky Ostwal", "Phil Salt", "Ishant Sharma",
    "Mukesh Kumar", "Manish Pandey", "Rilee Rossouw",

    "Hardik Pandya", "Shubman Gill", "David Miller", "Abhinav Manohar", "Sai Sudharsan",
    "Wriddhiman Saha", "Matthew Wade", "Rashid Khan", "Rahul Tewatia", "Vijay Shankar",
    "Mohammed Shami", "Alzarri Joseph", "Yash Dayal", "Pradeep Sangwan", "Darshan Nalkande",
    "Jayant Yadav", "R Sai Kishore", "Noor Ahmad", "Kane Williamson", "Dasun Shanaka",
    "Odean Smith", "KS Bharat", "Shivam Mavi", "Urvil Patel", "Josh Little", "Mohit Sharma",

    "Shreyas Iyer", "Nitish Rana", "Rahmanullah Gurbaz", "Venkatesh Iyer", "Andre Russell",
    "Sunil Narine", "Shardul Thakur", "Lockie Ferguson", "Umesh Yadav", "Tim Southee",
    "Harshit Rana", "Varun Chakravarthy", "Anukul Roy", "Rinku Singh", "N Jadadeesan",
    "Vaibhav Arora", "Suyash Sharma", "David Wiese", "Kulwant Khejroliya", "Litton Das",
    "Mandeep Singh", "Shakib Al Hasan", "Jason Roy", "Johnson Charles",

    "KL Rahul", "Ayush Badoni", "Karan Sharma", "Manan Vohra", "Quinton de Kock", "Marcus Stoinis",
    "Krishnappa Gowtham", "Deepak Hooda", "Kyle Mayers", "Krunal Pandya", "Avesh Khan", "Mohsin Khan",
    "Mark Wood", "Mayank Yadav", "Ravi Bishnoi", "Nicholas Pooran", "Jaydev Unadkat", "Yash Thakur",
    "Romario Shepherd", "Daniel Sams", "Amit Mishra", "Prerak Mankad", "Swapnil Singh", "Naveen-ul-Haq",
    "Yudhvir Charak", "Karun Nair", "Suryansh Shedge",

    "Rohit Sharma", "Tim David", "Ramandeep Singh", "Tilak Varma", "Suryakumar Yadav", "Ishan Kishan",
    "Tristan Stubbs", "Dewald Brevis", "Jofra Archer", "Jasprit Bumrah", "Arjun Tendulkar", "Arshad Khan",
    "Kumar Kartikeya", "Hrithik Shokeen", "Jason Behrendorff", "Akash Madhwal", "Cameron Green", "Jhye Richardson",
    "Riley Meredith", "Piyush Chawla", "Duan Jansen", "Vishnu Vinod", "Shams Mulani", "Nehal Wadhera",
    "Raghav Goyal", "Mohit Rathee",

    "Shikhar Dhawan", "Shahrukh Khan", "Jonny Bairstow", "Matt Short", "Prabhsimran Singh",
    "Bhanuka Rajapaksa", "Jitesh Sharma", "Raj Bawa", "Gurnoor Singh Brar", "Rishi Dhawan",
    "Liam Livingstone", "Atharva Taide", "Arshdeep Singh", "Baltej Singh", "Nathan Ellis",
    "Kagiso Rabada", "Rahul Chahar", "Harpreet Brar", "Sam Curran", "Sikandar Raza", "Harpreet Bhatia",
    "Vidwath Kaverappa", "Mohit Rathee", "Shivam Singh",

    "Sanju Samson", "Yashasvi Jaiswal", "Shimron Hetmyer", "Devdutt Padikkal", "Jos Buttler",
    "Dhruv Jurel", "Riyan Parag", "Prasidh Krishna", "Trent Boult", "Obed McCoy", "Navdeep Saini",
    "Kuldeep Sen", "Kuldip Yadav", "R Ashwin", "Yuzvendra Chahal", "KC Cariappa", "Jason Holder",
    "Donavon Ferreira", "Kunal Rathore", "Adam Zampa", "KM Asif", "M Ashwin", "Akash Vashisht",
    "Abdul Basith", "Joe Root",

    "Faf du Plessis", "Virat Kohli", "Suyash Prabhudessai", "Rajat Patidar", "Vijaykumar Vyshak",
    "Dinesh Karthik", "Anuj Rawat", "Finn Allen", "Glenn Maxwell", "Wanindu Hasaranga", "Shahbaz Ahmed",
    "Harshal Patel", "David Willey (injured)", "Karn Sharma", "Mahipal Lomror", "Mohammed Siraj",
    "Josh Hazlewood", "Siddarth Kaul", "Akash Deep", "Reece Topley", "Wayne Parnell", "Himanshu Sharma",
    "Will Jacks", "Michael Bracewell", "Manoj Bhandage", "Rajan Kumar", "Avinash Singh", "R Sonu Yadav",
    "Chris Jordan",

    "Abdul Samad", "Aiden Markram", "Rahul Tripathi", "Glenn Phillips", "Abhishek Sharma",
    "Marco Jansen", "Washington Sundar", "Fazalhaq Farooqi", "Kartik Tyagi", "Bhuvneshwar Kumar",
    "T Natarajan", "Umran Malik", "Harry Brook", "Mayank Agarwal", "Heinrich Klaasen", "Adil Rashid",
    "Mayank Markande", "Vivrant Sharma", "Samarth Vyas", "Sanvir Singh", "Upendra Yadav", "Mayank Dagar",
    "Nitish Kumar Reddy", "Anmolpreet Singh", "Akeal Hosein"
]

In [96]:
players = sorted(players)

In [102]:
sorted(df_batter["batter"].unique())

['Abdul Basith',
 'Abdul Samad',
 'Abhinav Manohar',
 'Abhishek Sharma',
 'Abishek Porel',
 'Adam Zampa',
 'Adil Rashid',
 'Aiden Markram',
 'Ajinkya Rahane',
 'Akash Deep',
 'Akeal Hosein',
 'Alzarri Joseph',
 'Aman Khan',
 'Ambati Rayudu',
 'Amit Mishra',
 'Andre Russell',
 'Anmolpreet Singh',
 'Anrich Nortje',
 'Anuj Rawat',
 'Anukul Roy',
 'Arjun Tendulkar',
 'Arshad Khan',
 'Arshdeep Singh',
 'Atharva Taide',
 'Axar Patel',
 'Ayush Badoni',
 'Ben Stokes',
 'Bhanuka Rajapaksa',
 'Bhuvneshwar Kumar',
 'Cameron Green',
 'Chetan Sakariya',
 'Chris Jordan',
 'Dasun Shanaka',
 'David Miller',
 'David Warner',
 'David Wiese',
 'David Willey',
 'Deepak Chahar',
 'Deepak Hooda',
 'Devdutt Padikkal',
 'Devon Conway',
 'Dhruv Jurel',
 'Dinesh Karthik',
 'Faf Du Plessis',
 'Fazalhaq Farooqi',
 'Glenn Maxwell',
 'Glenn Phillips',
 'Hardik Pandya',
 'Harpreet Bhatia',
 'Harpreet Brar',
 'Harry Brook',
 'Harshal Patel',
 'Heinrich Klaasen',
 'Hrithik Shokeen',
 'Ishan Kishan',
 'Ishant Sharma',
 'Jagadeesan Narayan',
 'Jason Behrendorff',
 'Jason Holder',
 'Jason Roy',
 'Jaydev Unadkat',
 'Jitesh Sharma',
 'Joe Root',
 'Jofra Archer',
 'Jos Buttler',
 'Josh Hazlewood',
 'K L Rahul',
 'Karan Sharma',
 'Karn Sharma',
 'Kedar Jadhav',
 'Krishnappa Gowtham',
 'Krunal Pandya',
 'Kuldeep Yadav',
 'Kumar Kartikeya Singh',
 'Kyle Mayers',
 'Lalit Yadav',
 'Liam Livingstone',
 'Liton Das',
 'MS Dhoni',
 'Mahipal Lomror',
 'Manan Vohra',
 'Mandeep Singh',
 'Manish Pandey',
 'Marco Jansen',
 'Marcus Stoinis',
 'Mark Wood',
 'Matthew Short',
 'Mayank Agarwal',
 'Mayank Markande',
 'Michael Bracewell',
 'Mitchell Marsh',
 'Mitchell Santner',
 'Moeen Ali',
 'Mohammad Shami',
 'Mohammed Siraj',
 'Mohit Rathee',
 'Mukesh Kumar',
 'Mustafizur Rahman',
 'Nathan Ellis',
 'Naveen-ul-Haq',
 'Nehal Wadera',
 'Nicholas Pooran',
 'Nitish Rana',
 'Noor Ahmad',
 'Phil Salt',
 'Piyush Chawla',
 'Praveen Dubey',
 'Prerak Mankad',
 'Prithvi Shaw',
 'Priyam Garg',
 'Quinton De Kock',
 'Rahmanullah Gurbaz',
 'Rahul Tewatia',
 'Rahul Tripathi',
 'Rashid Khan',
 'Ravi Bishnoi',
 'Ravichandran Ashwin',
 'Ravindra Jadeja',
 'Rilee Rossouw',
 'Rinku Singh',
 'Ripal Patel',
 'Rishi Dhawan',
 'Riyan Parag',
 'Rohit Sharma',
 'Rovman Powell',
 'Ruturaj Gaikwad',
 'Sai Sudharsan',
 'Sam Curran',
 'Sandeep Sharma',
 'Sanju Samson',
 'Sanvir Singh',
 'Sarfaraz Khan',
 'Shahbaz Ahmed',
 'Shahrukh Khan',
 'Shardul Thakur',
 'Shikhar Dhawan',
 'Shimron Hetmyer',
 'Shivam Dube',
 'Shubman Gill',
 'Sikandar Raza',
 'Simran Singh',
 'Sunil Narine',
 'Suryakumar Yadav',
 'Suyash S Prabhudessai',
 'Swapnil Singh',
 'Tilak Varma',
 'Tim David',
 'Trent Boult',
 'Tristan Stubbs',
 'Umesh Yadav',
 'Umran Malik',
 'Vaibhav Arora',
 'Varun Chakaravarthy',
 'Venkatesh Iyer',
 'Vijay Shankar',
 'Virat Kohli',
 'Vishnu Vinod',
 'Vivrant Sharma',
 'Vyshak Vijaykumar',
 'Wanindu Hasaranga',
 'Washington Sundar',
 'Wayne Parnell',
 'Wriddhiman Saha',
 'Yash Dhull',
 'Yashasvi Jaiswal',
 'Yudhvir Singh']

In [106]:
players

['Abdul Basith',
 'Abdul Samad',
 'Abhinav Manohar',
 'Abhishek Sharma',
 'Adam Zampa',
 'Adil Rashid',
 'Aiden Markram',
 'Ajinkya Rahane',
 'Akash Deep',
 'Akeal Hosein',
 'Alzarri Joseph',
 'Aman Khan',
 'Ambati Rayudu',
 'Amit Mishra',
 'Andre Russell',
 'Anmolpreet Singh',
 'Anrich Nortje',
 'Anuj Rawat',
 'Anukul Roy',
 'Arjun Tendulkar',
 'Arshad Khan',
 'Arshdeep Singh',
 'Atharva Taide',
 'Avesh Khan',
 'Avinash Singh',
 'Axar Patel',
 'Ayush Badoni',
 'Ben Stokes',
 'Bhagath Verma',
 'Bhanuka Rajapaksa',
 'Bhuvneshwar Kumar',
 'Cameron Green',
 'Chetan Sakariya',
 'Chris Jordan',
 'Daniel Sams',
 'Darshan Nalkande',
 'Dasun Shanaka',
 'David Miller',
 'David Warner',
 'David Wiese',
 'David Willey (injured)',
 'Deepak Chahar',
 'Deepak Hooda',
 'Devdutt Padikkal',
 'Devon Conway',
 'Dewald Brevis',
 'Dhruv Jurel',
 'Dinesh Karthik',
 'Donavon Ferreira',
 'Duan Jansen',
 'Dwaine Pretorius',
 'Faf du Plessis',
 'Fazalhaq Farooqi',
 'Finn Allen',
 'Glenn Maxwell',
 'Glenn Phillips',
 'Gurnoor Singh Brar',
 'Hardik Pandya',
 'Harpreet Bhatia',
 'Harpreet Brar',
 'Harry Brook',
 'Harshal Patel',
 'Harshit Rana',
 'Heinrich Klaasen',
 'Himanshu Sharma',
 'Hrithik Shokeen',
 'Ishan Kishan',
 'Ishant Sharma',
 'Jason Behrendorff',
 'Jason Holder',
 'Jason Roy',
 'Jasprit Bumrah',
 'Jayant Yadav',
 'Jaydev Unadkat',
 'Jhye Richardson',
 'Jitesh Sharma',
 'Joe Root',
 'Jofra Archer',
 'Johnson Charles',
 'Jonny Bairstow',
 'Jos Buttler',
 'Josh Hazlewood',
 'Josh Little',
 'KC Cariappa',
 'KL Rahul',
 'KM Asif',
 'KS Bharat',
 'Kagiso Rabada',
 'Kamlesh Nagarkoti',
 'Kane Williamson',
 'Karan Sharma',
 'Karn Sharma',
 'Kartik Tyagi',
 'Karun Nair',
 'Khaleel Ahmed',
 'Krishnappa Gowtham',
 'Krunal Pandya',
 'Kuldeep Sen',
 'Kuldeep Yadav',
 'Kuldip Yadav',
 'Kulwant Khejroliya',
 'Kumar Kartikeya',
 'Kunal Rathore',
 'Kyle Jamieson',
 'Kyle Mayers',
 'Lalit Yadav',
 'Liam Livingstone',
 'Litton Das',
 'Lockie Ferguson',
 'Lungi Ngidi',
 'M Ashwin',
 'MS Dhoni',
 'Maheesh Theekshana',
 'Mahipal Lomror',
 'Manan Vohra',
 'Mandeep Singh',
 'Manish Pandey',
 'Manoj Bhandage',
 'Marco Jansen',
 'Marcus Stoinis',
 'Mark Wood',
 'Matheesha Pathirana',
 'Matt Short',
 'Matthew Wade',
 'Mayank Agarwal',
 'Mayank Dagar',
 'Mayank Markande',
 'Mayank Yadav',
 'Michael Bracewell',
 'Mitchell Marsh',
 'Mitchell Santner',
 'Moeen Ali',
 'Mohammed Shami',
 'Mohammed Siraj',
 'Mohit Rathee',
 'Mohit Rathee',
 'Mohit Sharma',
 'Mohsin Khan',
 'Mukesh Chowdhary',
 'Mukesh Kumar',
 'Mustafizur Rahman',
 'N Jadadeesan',
 'Nathan Ellis',
 'Navdeep Saini',
 'Naveen-ul-Haq',
 'Nehal Wadhera',
 'Nicholas Pooran',
 'Nishant Sidhu',
 'Nitish Kumar Reddy',
 'Nitish Rana',
 'Noor Ahmad',
 'Obed McCoy',
 'Odean Smith',
 'Phil Salt',
 'Piyush Chawla',
 'Prabhsimran Singh',
 'Pradeep Sangwan',
 'Prashant Solanki',
 'Prasidh Krishna',
 'Praveen Dubey',
 'Prerak Mankad',
 'Prithvi Shaw',
 'Quinton de Kock',
 'R Ashwin',
 'R Sai Kishore',
 'R Sonu Yadav',
 'Raghav Goyal',
 'Rahmanullah Gurbaz',
 'Rahul Chahar',
 'Rahul Tewatia',
 'Rahul Tripathi',
 'Raj Bawa',
 'Rajan Kumar',
 'Rajat Patidar',
 'Rajvardhan Hangargekar',
 'Ramandeep Singh',
 'Rashid Khan',
 'Ravi Bishnoi',
 'Ravindra Jadeja',
 'Reece Topley',
 'Rilee Rossouw',
 'Riley Meredith',
 'Rinku Singh',
 'Ripal Patel',
 'Rishabh Pant',
 'Rishi Dhawan',
 'Riyan Parag',
 'Rohit Sharma',
 'Romario Shepherd',
 'Rovman Powell',
 'Ruturaj Gaikwad',
 'Sai Sudharsan',
 'Sam Curran',
 'Samarth Vyas',
 'Sanju Samson',
 'Sanvir Singh',
 'Sarfaraz Khan',
 'Shahbaz Ahmed',
 'Shahrukh Khan',
 'Shaik Rasheed',
 'Shakib Al Hasan',
 'Shams Mulani',
 'Shardul Thakur',
 'Shikhar Dhawan',
 'Shimron Hetmyer',
 'Shivam Dube',
 'Shivam Mavi',
 'Shivam Singh',
 'Shreyas Iyer',
 'Shubman Gill',
 'Siddarth Kaul',
 'Sikandar Raza',
 'Simarjeet Singh',
 'Sisanda Magala',
 'Subhranshu Senapati',
 'Sunil Narine',
 'Suryakumar Yadav',
 'Suryansh Shedge',
 'Suyash Prabhudessai',
 'Suyash Sharma',
 'Swapnil Singh',
 'T Natarajan',
 'Tilak Varma',
 'Tim David',
 'Tim Southee',
 'Trent Boult',
 'Tristan Stubbs',
 'Tushar Deshpande',
 'Umesh Yadav',
 'Umran Malik',
 'Upendra Yadav',
 'Urvil Patel',
 'Vaibhav Arora',
 'Varun Chakravarthy',
 'Venkatesh Iyer',
 'Vicky Ostwal',
 'Vidwath Kaverappa',
 'Vijay Shankar',
 'Vijaykumar Vyshak',
 'Virat Kohli',
 'Vishnu Vinod',
 'Vivrant Sharma',
 'Wanindu Hasaranga',
 'Washington Sundar',
 'Wayne Parnell',
 'Will Jacks',
 'Wriddhiman Saha',
 'Yash Dayal',
 'Yash Dhull',
 'Yash Thakur',
 'Yashasvi Jaiswal',
 'Yudhvir Charak',
 'Yuzvendra Chahal']

In [107]:
players_to_remove = ['Daniel Sams', 'Darshan Nalkande']
for player in players_to_remove:
    players.remove(player)

In [108]:
df_3

,match_no,Batsman,team,Run,Ball,4s,6s,out_by
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little
...,...,...,...,...,...,...,...,...
1109,70,Shubman Gill,Gujarat Titans,104,52,5,8,Not Out
1110,70,Vijay Shankar,Gujarat Titans,53,35,7,2,Vijaykumar Vyshak
1111,70,Dasun Shanaka,Gujarat Titans,0,3,0,0,Harshal Patel
1112,70,David Miller,Gujarat Titans,6,7,1,0,Mohammed Siraj
1113,70,Rahul Tewatia,Gujarat Titans,4,5,0,0,Not Out

In [109]:
grouped = df_3.groupby(['match_no', 'team'])['Batsman'].apply(list).reset_index()

In [110]:
grouped

,match_no,team,Batsman
0,1,Chennai Super Kings,"[Devon Conway, Ruturaj Gaikwad, Moeen Ali, Ben..."
1,1,Gujarat Titans,"[Wriddhiman Saha, Shubman Gill, Sai Sudharsan,..."
2,2,Kolkata Knight Riders,"[Mandeep Singh, Rahmanullah Gurbaz, Anukul Roy..."
3,2,Punjab Kings,"[Prabhsimran Singh, Shikhar Dhawan, Bhanuka Ra..."
4,3,Delhi Capitals,"[Prithvi Shaw, David Warner, Mitchell Marsh, S..."
...,...,...,...
134,68,Lucknow Super Giants,"[Karan Sharma, Quinton de Kock, Prerak Mankad,..."
135,69,Mumbai Indians,"[Ishan Kishan, Rohit Sharma, Cameron Green, Su..."
136,69,Sunrisers Hyderabad,"[Vivrant Sharma, Mayank Agarwal, Heinrich Klaa..."
137,70,Gujarat Titans,"[Wriddhiman Saha, Shubman Gill, Vijay Shankar,..."
138,70,Royal Challengers Bangalore,"[Virat Kohli, Faf du Plessis, Glenn Maxwell, M..."