# New Features

In [1]:
import pandas as pd
import ast
import numpy as np

## Player Dataset

In [2]:
players_df = pd.read_csv('../raw_data/player_dataset.csv')

In [3]:
players_df

,player,bat_innings,total_runs,not_out,zero,50s,100s,fours,sixes,high_score,...,batting_strike_rate,bowler_innings,balls_bowled,runs_conceded,wickets,four_wickets,five_wickets,bowling_average,bowling_economy_rate,bowling_strike_rate
0,a ashish reddy,23.0,280.0,8.0,0.0,0.0,0.0,16.0,15.0,36.0,...,145.08,20.0,262.0,396.0,18.0,0.0,0.0,22.0,9.07,14.56
1,a badoni,11.0,161.0,3.0,1.0,1.0,0.0,11.0,7.0,54.0,...,123.85,2.0,12.0,11.0,2.0,0.0,0.0,5.5,5.50,6.00
2,a chandila,2.0,4.0,2.0,1.0,0.0,0.0,0.0,0.0,4.0,...,57.14,12.0,234.0,242.0,11.0,1.0,0.0,22.0,6.21,21.27
3,a chopra,6.0,53.0,0.0,0.0,0.0,0.0,7.0,0.0,24.0,...,74.65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
4,a choudhary,3.0,25.0,2.0,0.0,0.0,0.0,1.0,1.0,15.0,...,125.00,5.0,101.0,144.0,5.0,0.0,0.0,28.8,8.55,20.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,sm boland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,2.0,42.0,54.0,2.0,0.0,0.0,27.0,7.71,21.00
648,ss agarwal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,1.0,24.0,42.0,1.0,0.0,0.0,42.0,10.50,24.00
649,ss mundhe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,1.0,6.0,6.0,1.0,0.0,0.0,6.0,6.00,6.00
650,ss sarkar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,2.0,25.0,34.0,1.0,0.0,0.0,34.0,8.16,25.00
651,tejas baroka,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,1.0,21.0,33.0,0.0,0.0,0.0,0.0,9.43,0.00

In [4]:
players_df.columns

Index(['player', 'bat_innings', 'total_runs', 'not_out', 'zero', '50s', '100s',
       'fours', 'sixes', 'high_score', 'balls_faced', 'average_score',
       'batting_average', 'batting_strike_rate', 'bowler_innings',
       'balls_bowled', 'runs_conceded', 'wickets', 'four_wickets',
       'five_wickets', 'bowling_average', 'bowling_economy_rate',
       'bowling_strike_rate'],
      dtype='object')

## Team Players Columns

In [5]:
df = pd.read_csv('../raw_data/final_data.csv')

In [6]:
complete_df = pd.read_csv('../raw_data/complete_df.csv')

/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/1215370102.py:1: DtypeWarning: Columns (20,31) have mixed types. Specify dtype option on import or set low_memory=False.
  complete_df = pd.read_csv('../raw_data/complete_df.csv')

In [7]:
complete_df_reduced = complete_df[['ID', 'Team1Players', 'Team2Players']]

In [8]:
complete_df_reduced

,ID,Team1Players,Team2Players
0,1312200,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan..."
1,1312200,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan..."
2,1312200,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan..."
3,1312200,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan..."
4,1312200,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan..."
...,...,...,...
225949,335982,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
225950,335982,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
225951,335982,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
225952,335982,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
225953,335982,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."

In [9]:
complete_df_reduced.iloc[0, 1] ## 11 players

"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']"

In [10]:
# Convert strings in lists
complete_df['Team1Players'] = complete_df['Team1Players'].apply(lambda x: ast.literal_eval(x))
complete_df['Team2Players'] = complete_df['Team2Players'].apply(lambda x: ast.literal_eval(x))

In [11]:
# lower  case
complete_df['Team1Players'] = complete_df['Team1Players'].apply(lambda x: [name.lower() for name in x])
complete_df['Team2Players'] = complete_df['Team2Players'].apply(lambda x: [name.lower() for name in x])

In [12]:
complete_df_reduced = complete_df[['ID', 'Team1Players', 'Team2Players']]

In [13]:
complete_df_reduced

,ID,Team1Players,Team2Players
0,1312200,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
1,1312200,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
2,1312200,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
3,1312200,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
4,1312200,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
...,...,...,...
225949,335982,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse..."
225950,335982,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse..."
225951,335982,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse..."
225952,335982,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse..."
225953,335982,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse..."

In [14]:
complete_df_reduced.iloc[0,1]

['ybk jaiswal',
 'jc buttler',
 'sv samson',
 'd padikkal',
 'so hetmyer',
 'r ashwin',
 'r parag',
 'ta boult',
 'oc mccoy',
 'm prasidh krishna',
 'ys chahal']

In [15]:
complete_df_reduced = complete_df_reduced.drop_duplicates(subset='ID', keep='first')
complete_df_reduced = complete_df_reduced.reset_index(drop=True)

In [16]:
complete_df_reduced

,ID,Team1Players,Team2Players
0,1312200,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
1,1312199,"[v kohli, f du plessis, rm patidar, gj maxwell...","[ybk jaiswal, jc buttler, sv samson, d padikka..."
2,1312198,"[v kohli, f du plessis, rm patidar, gj maxwell...","[q de kock, kl rahul, m vohra, dj hooda, mp st..."
3,1312197,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
4,1304116,"[pk garg, abhishek sharma, ra tripathi, ak mar...","[jm bairstow, s dhawan, m shahrukh khan, ma ag..."
...,...,...,...
945,335986,"[wp saha, bb mccullum, rt ponting, sc ganguly,...","[ac gilchrist, y venugopal rao, vvs laxman, a ..."
946,335985,"[l ronchi, st jayasuriya, dj thornely, rv utha...","[s chanderpaul, r dravid, lrpl taylor, jh kall..."
947,335984,"[g gambhir, v sehwag, s dhawan, mk tiwary, kd ...","[t kohli, yk pathan, sr watson, m kaif, ds leh..."
948,335983,"[k goel, jr hopes, kc sangakkara, yuvraj singh...","[pa patel, ml hayden, mek hussey, ms dhoni, sk..."
949,335982,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse..."

## Merging Data

In [17]:
df.head()

,Unnamed: 0,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,...,WinningTeam,innings_total,TeamA_batting_average,TeamB_batting_average,TeamA_innings_total,TeamB_innings_total,Team1_points_against_avg,Team2_points_against_avg,Team1_MVP_average,Team2_MVP_average
0,0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,...,gujarat titans,130,155.397906,166.437500,130.0,133.0,151.561798,167.666667,0.500000,0.687500
1,1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,...,rajasthan royals,157,155.707965,155.397906,157.0,161.0,146.976000,162.184466,0.491150,0.500000
2,2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,...,royal challengers bangalore,207,155.707965,169.866667,207.0,193.0,146.976000,176.285714,0.491150,0.600000
3,3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,...,gujarat titans,188,155.397906,166.437500,188.0,191.0,151.561798,167.666667,0.500000,0.687500
4,4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,...,punjab kings,157,155.546053,158.518349,157.0,160.0,145.594203,164.537037,0.486842,0.428571

In [18]:
df = pd.merge(df, complete_df_reduced, on='ID', how='left')

In [19]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [20]:
df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,TeamA_batting_average,TeamB_batting_average,TeamA_innings_total,TeamB_innings_total,Team1_points_against_avg,Team2_points_against_avg,Team1_MVP_average,Team2_MVP_average,Team1Players,Team2Players
0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,bat,...,155.397906,166.437500,130.0,133.0,151.561798,167.666667,0.500000,0.687500,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,field,...,155.707965,155.397906,157.0,161.0,146.976000,162.184466,0.491150,0.500000,"[v kohli, f du plessis, rm patidar, gj maxwell...","[ybk jaiswal, jc buttler, sv samson, d padikka..."
2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,field,...,155.707965,169.866667,207.0,193.0,146.976000,176.285714,0.491150,0.600000,"[v kohli, f du plessis, rm patidar, gj maxwell...","[q de kock, kl rahul, m vohra, dj hooda, mp st..."
3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,field,...,155.397906,166.437500,188.0,191.0,151.561798,167.666667,0.500000,0.687500,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da..."
4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,bat,...,155.546053,158.518349,157.0,160.0,145.594203,164.537037,0.486842,0.428571,"[pk garg, abhishek sharma, ra tripathi, ak mar...","[jm bairstow, s dhawan, m shahrukh khan, ma ag..."

## Creation of New Features

### Data

In [21]:
df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'WinningTeam', 'innings_total',
       'TeamA_batting_average', 'TeamB_batting_average', 'TeamA_innings_total',
       'TeamB_innings_total', 'Team1_points_against_avg',
       'Team2_points_against_avg', 'Team1_MVP_average', 'Team2_MVP_average',
       'Team1Players', 'Team2Players'],
      dtype='object')

In [22]:
players_df.columns

Index(['player', 'bat_innings', 'total_runs', 'not_out', 'zero', '50s', '100s',
       'fours', 'sixes', 'high_score', 'balls_faced', 'average_score',
       'batting_average', 'batting_strike_rate', 'bowler_innings',
       'balls_bowled', 'runs_conceded', 'wickets', 'four_wickets',
       'five_wickets', 'bowling_average', 'bowling_economy_rate',
       'bowling_strike_rate'],
      dtype='object')

In [23]:
df.Team1Players

0      [ybk jaiswal, jc buttler, sv samson, d padikka...
1      [v kohli, f du plessis, rm patidar, gj maxwell...
2      [v kohli, f du plessis, rm patidar, gj maxwell...
3      [ybk jaiswal, jc buttler, sv samson, d padikka...
4      [pk garg, abhishek sharma, ra tripathi, ak mar...
                             ...
945    [wp saha, bb mccullum, rt ponting, sc ganguly,...
946    [l ronchi, st jayasuriya, dj thornely, rv utha...
947    [g gambhir, v sehwag, s dhawan, mk tiwary, kd ...
948    [k goel, jr hopes, kc sangakkara, yuvraj singh...
949    [r dravid, w jaffer, v kohli, jh kallis, cl wh...
Name: Team1Players, Length: 950, dtype: object

In [24]:
df.Team2Players

0      [wp saha, shubman gill, ms wade, hh pandya, da...
1      [ybk jaiswal, jc buttler, sv samson, d padikka...
2      [q de kock, kl rahul, m vohra, dj hooda, mp st...
3      [wp saha, shubman gill, ms wade, hh pandya, da...
4      [jm bairstow, s dhawan, m shahrukh khan, ma ag...
                             ...
945    [ac gilchrist, y venugopal rao, vvs laxman, a ...
946    [s chanderpaul, r dravid, lrpl taylor, jh kall...
947    [t kohli, yk pathan, sr watson, m kaif, ds leh...
948    [pa patel, ml hayden, mek hussey, ms dhoni, sk...
949    [sc ganguly, bb mccullum, rt ponting, dj husse...
Name: Team2Players, Length: 950, dtype: object

In [25]:
# checking if all the teams have 11 players
df['Team1Players'].apply(lambda x: len(x)).value_counts()

Team1Players
11    950
Name: count, dtype: int64

### Batting Features

In [26]:
"""
def weighted_average(players_list, players_df):
    # Filtra as informações dos jogadores no DataFrame com base nos nomes dos jogadores na lista
    player_info = players_df[players_df['player'].isin(players_list)]

    # Calcula o peso para cada jogador com base no average_score (por exemplo, usando a função exponencial)
    # Você pode ajustar a fórmula do peso conforme necessário
    #player_info['weight'] = players_df['average_score'].apply(lambda x: 2**x)

    # funcao logaritmica:
    #player_info['weight'] = np.log(player_info['average_score'] + 1)

    #funcao da raiz quadrada: 
    player_info['weight'] = np.sqrt(player_info['average_score'])

    # Calcula a média ponderada usando os pesos
    weighted_avg = (players_df['average_score'] * player_info['weight']).sum() / player_info['weight'].sum()
    
    return weighted_avg

# Aplica a função para calcular a média ponderada para Team1
df['Avg_Weighted_Score_Team1'] = df['Team1Players'].apply(lambda players: weighted_average(players, players_df))

# Aplica a função para calcular a média ponderada para Team2
df['Avg_Weighted_Score_Team2'] = df['Team2Players'].apply(lambda players: weighted_average(players, players_df))
"""

"\ndef weighted_average(players_list, players_df):\n    # Filtra as informações dos jogadores no DataFrame com base nos nomes dos jogadores na lista\n    player_info = players_df[players_df['player'].isin(players_list)]\n\n    # Calcula o peso para cada jogador com base no average_score (por exemplo, usando a função exponencial)\n    # Você pode ajustar a fórmula do peso conforme necessário\n    #player_info['weight'] = players_df['average_score'].apply(lambda x: 2**x)\n\n    # funcao logaritmica:\n    #player_info['weight'] = np.log(player_info['average_score'] + 1)\n\n    #funcao da raiz quadrada: \n    player_info['weight'] = np.sqrt(player_info['average_score'])\n\n    # Calcula a média ponderada usando os pesos\n    weighted_avg = (players_df['average_score'] * player_info['weight']).sum() / player_info['weight'].sum()\n    \n    return weighted_avg\n\n# Aplica a função para calcular a média ponderada para Team1\ndf['Avg_Weighted_Score_Team1'] = df['Team1Players'].apply(lambda players: weighted_average(players, players_df))\n\n# Aplica a função para calcular a média ponderada para Team2\ndf['Avg_Weighted_Score_Team2'] = df['Team2Players'].apply(lambda players: weighted_average(players, players_df))\n"

In [27]:
# Team1 Players Avg Score
df['Avg_Score_PlayersTeam1'] = df['Team1Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['average_score'].mean())

# Team2 Players Avg Score
df['Avg_Score_PlayersTeam2'] = df['Team2Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['average_score'].mean())

In [28]:
df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,TeamA_innings_total,TeamB_innings_total,Team1_points_against_avg,Team2_points_against_avg,Team1_MVP_average,Team2_MVP_average,Team1Players,Team2Players,Avg_Score_PlayersTeam1,Avg_Score_PlayersTeam2
0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,bat,...,130.0,133.0,151.561798,167.666667,0.500000,0.687500,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da...",15.376364,12.820000
1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,field,...,157.0,161.0,146.976000,162.184466,0.491150,0.500000,"[v kohli, f du plessis, rm patidar, gj maxwell...","[ybk jaiswal, jc buttler, sv samson, d padikka...",17.698182,15.376364
2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,field,...,207.0,193.0,146.976000,176.285714,0.491150,0.600000,"[v kohli, f du plessis, rm patidar, gj maxwell...","[q de kock, kl rahul, m vohra, dj hooda, mp st...",17.698182,17.073636
3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,field,...,188.0,191.0,151.561798,167.666667,0.500000,0.687500,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da...",15.376364,12.512727
4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,bat,...,157.0,160.0,145.594203,164.537037,0.486842,0.428571,"[pk garg, abhishek sharma, ra tripathi, ak mar...","[jm bairstow, s dhawan, m shahrukh khan, ma ag...",13.963636,16.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,kolkata,2008-04-20,2008,4,kolkata knight riders,deccan chargers,eden gardens,deccan chargers,bat,...,110.0,112.0,146.171429,159.583333,0.511211,0.386667,"[wp saha, bb mccullum, rt ponting, sc ganguly,...","[ac gilchrist, y venugopal rao, vvs laxman, a ...",12.978182,13.601818
946,335985,mumbai,2008-04-20,2008,5,mumbai indians,royal challengers bangalore,wankhede stadium,mumbai indians,bat,...,165.0,166.0,151.616071,165.840000,0.558442,0.491150,"[l ronchi, st jayasuriya, dj thornely, rv utha...","[s chanderpaul, r dravid, lrpl taylor, jh kall...",12.164545,14.020909
947,335984,delhi,2008-04-19,2008,3,delhi capitals,rajasthan royals,feroz shah kotla,rajasthan royals,bat,...,129.0,132.0,148.238938,162.184466,0.409938,0.500000,"[g gambhir, v sehwag, s dhawan, mk tiwary, kd ...","[t kohli, yk pathan, sr watson, m kaif, ds leh...",15.280000,10.630909
948,335983,chandigarh,2008-04-19,2008,2,punjab kings,chennai super kings,punjab cricket association is bindra stadium,chennai super kings,bat,...,240.0,207.0,152.681818,161.072165,0.468421,0.591346,"[k goel, jr hopes, kc sangakkara, yuvraj singh...","[pa patel, ml hayden, mek hussey, ms dhoni, sk...",14.141000,17.108182
949,335982,bangalore,2008-04-18,2008,1,royal challengers bangalore,kolkata knight riders,m.chinnaswamy stadium,royal challengers bangalore,field,...,222.0,82.0,146.976000,160.669492,0.491150,0.511211,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse...",15.138182,12.978182

In [29]:
df[['Season', 'Team1', 'Avg_Score_PlayersTeam1']][df['Team1'] == 'rajasthan royals'] # ok

     Season             Team1  Avg_Score_PlayersTeam1
0      2022  rajasthan royals               15.376364
3      2022  rajasthan royals               15.376364
11     2022  rajasthan royals               14.455455
16     2022  rajasthan royals               13.558182
27     2022  rajasthan royals               14.487273
..      ...               ...                     ...
916    2008  rajasthan royals               13.365455
920    2008  rajasthan royals               13.367273
926    2008  rajasthan royals               13.557273
931    2008  rajasthan royals               13.557273
944    2008  rajasthan royals               12.030909

[89 rows x 3 columns]

In [30]:
df['batting_average_PlayersTeam1'] = df['Team1Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['batting_average'].mean())
df['batting_average_PlayersTeam2'] = df['Team2Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['batting_average'].mean())

In [31]:
df['batting_strike_rate_PlayersTeam1'] = df['Team1Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['batting_strike_rate'].mean())
df['batting_strike_rate_PlayersTeam2'] = df['Team2Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['batting_strike_rate'].mean())

In [32]:
df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,Team1_MVP_average,Team2_MVP_average,Team1Players,Team2Players,Avg_Score_PlayersTeam1,Avg_Score_PlayersTeam2,batting_average_PlayersTeam1,batting_average_PlayersTeam2,batting_strike_rate_PlayersTeam1,batting_strike_rate_PlayersTeam2
0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,bat,...,0.500000,0.687500,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da...",15.376364,12.820000,19.650000,23.000909,117.280909,106.260909
1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,field,...,0.491150,0.500000,"[v kohli, f du plessis, rm patidar, gj maxwell...","[ybk jaiswal, jc buttler, sv samson, d padikka...",17.698182,15.376364,21.818182,19.650000,119.162727,117.280909
2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,field,...,0.491150,0.600000,"[v kohli, f du plessis, rm patidar, gj maxwell...","[q de kock, kl rahul, m vohra, dj hooda, mp st...",17.698182,17.073636,21.818182,23.751818,119.162727,131.991818
3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,field,...,0.500000,0.687500,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da...",15.376364,12.512727,19.650000,17.364545,117.280909,101.816364
4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,bat,...,0.486842,0.428571,"[pk garg, abhishek sharma, ra tripathi, ak mar...","[jm bairstow, s dhawan, m shahrukh khan, ma ag...",13.963636,16.340000,19.658182,21.749091,111.284545,148.910909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,kolkata,2008-04-20,2008,4,kolkata knight riders,deccan chargers,eden gardens,deccan chargers,bat,...,0.511211,0.386667,"[wp saha, bb mccullum, rt ponting, sc ganguly,...","[ac gilchrist, y venugopal rao, vvs laxman, a ...",12.978182,13.601818,18.705455,16.672727,101.669091,104.100909
946,335985,mumbai,2008-04-20,2008,5,mumbai indians,royal challengers bangalore,wankhede stadium,mumbai indians,bat,...,0.558442,0.491150,"[l ronchi, st jayasuriya, dj thornely, rv utha...","[s chanderpaul, r dravid, lrpl taylor, jh kall...",12.164545,14.020909,15.899091,18.600909,109.790000,106.482727
947,335984,delhi,2008-04-19,2008,3,delhi capitals,rajasthan royals,feroz shah kotla,rajasthan royals,bat,...,0.409938,0.500000,"[g gambhir, v sehwag, s dhawan, mk tiwary, kd ...","[t kohli, yk pathan, sr watson, m kaif, ds leh...",15.280000,10.630909,20.214545,15.809091,110.545455,104.239091
948,335983,chandigarh,2008-04-19,2008,2,punjab kings,chennai super kings,punjab cricket association is bindra stadium,chennai super kings,bat,...,0.468421,0.591346,"[k goel, jr hopes, kc sangakkara, yuvraj singh...","[pa patel, ml hayden, mek hussey, ms dhoni, sk...",14.141000,17.108182,19.023000,22.010000,110.759000,108.721818
949,335982,bangalore,2008-04-18,2008,1,royal challengers bangalore,kolkata knight riders,m.chinnaswamy stadium,royal challengers bangalore,field,...,0.491150,0.511211,"[r dravid, w jaffer, v kohli, jh kallis, cl wh...","[sc ganguly, bb mccullum, rt ponting, dj husse...",15.138182,12.978182,19.175455,18.705455,107.181818,101.669091

### Bowling Features

In [33]:
df['bowling_average_PlayersTeam1'] = df['Team1Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['bowling_average'].mean())
df['bowling_average_PlayersTeam2'] = df['Team2Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['bowling_average'].mean())

In [34]:
df['bowling_economy_rate_PlayersTeam1'] = df['Team1Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['bowling_economy_rate'].mean())
df['bowling_economy_rate_PlayersTeam2'] = df['Team2Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['bowling_economy_rate'].mean())

In [35]:
df['bowling_strike_rate_PlayersTeam1'] = df['Team1Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['bowling_strike_rate'].mean())
df['bowling_strike_rate_PlayersTeam2'] = df['Team2Players'].apply(lambda players: players_df[players_df['player'].isin(players)]['bowling_strike_rate'].mean())

In [36]:
df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'WinningTeam', 'innings_total',
       'TeamA_batting_average', 'TeamB_batting_average', 'TeamA_innings_total',
       'TeamB_innings_total', 'Team1_points_against_avg',
       'Team2_points_against_avg', 'Team1_MVP_average', 'Team2_MVP_average',
       'Team1Players', 'Team2Players', 'Avg_Score_PlayersTeam1',
       'Avg_Score_PlayersTeam2', 'batting_average_PlayersTeam1',
       'batting_average_PlayersTeam2', 'batting_strike_rate_PlayersTeam1',
       'batting_strike_rate_PlayersTeam2', 'bowling_average_PlayersTeam1',
       'bowling_average_PlayersTeam2', 'bowling_economy_rate_PlayersTeam1',
       'bowling_economy_rate_PlayersTeam2', 'bowling_strike_rate_PlayersTeam1',
       'bowling_strike_rate_PlayersTeam2'],
      dtype='object')

In [37]:
df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,batting_average_PlayersTeam1,batting_average_PlayersTeam2,batting_strike_rate_PlayersTeam1,batting_strike_rate_PlayersTeam2,bowling_average_PlayersTeam1,bowling_average_PlayersTeam2,bowling_economy_rate_PlayersTeam1,bowling_economy_rate_PlayersTeam2,bowling_strike_rate_PlayersTeam1,bowling_strike_rate_PlayersTeam2
0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,bat,...,19.650000,23.000909,117.280909,106.260909,18.497273,17.327273,7.965455,5.161818,12.545455,12.818182
1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,field,...,21.818182,19.650000,119.162727,117.280909,32.419091,18.497273,7.479091,7.965455,23.531818,12.545455
2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,field,...,21.818182,23.751818,119.162727,131.991818,32.419091,20.414545,7.479091,5.105455,23.531818,15.052727
3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,field,...,19.650000,17.364545,117.280909,101.816364,18.497273,17.205455,7.965455,5.222727,12.545455,12.603636
4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,bat,...,19.658182,21.749091,111.284545,148.910909,28.971818,15.985455,7.355455,4.556364,20.248182,11.501818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,kolkata,2008-04-20,2008,4,kolkata knight riders,deccan chargers,eden gardens,deccan chargers,bat,...,18.705455,16.672727,101.669091,104.100909,28.305455,25.565455,5.872727,5.845455,21.080909,18.834545
946,335985,mumbai,2008-04-20,2008,5,mumbai indians,royal challengers bangalore,wankhede stadium,mumbai indians,bat,...,15.899091,18.600909,109.790000,106.482727,19.195455,31.040000,5.644545,6.282727,14.881818,22.340909
947,335984,delhi,2008-04-19,2008,3,delhi capitals,rajasthan royals,feroz shah kotla,rajasthan royals,bat,...,20.214545,15.809091,110.545455,104.239091,30.774545,22.660000,6.918182,5.025455,19.820000,16.642727
948,335983,chandigarh,2008-04-19,2008,2,punjab kings,chennai super kings,punjab cricket association is bindra stadium,chennai super kings,bat,...,19.023000,22.010000,110.759000,108.721818,22.746000,19.415455,6.441000,4.743636,17.124000,13.701818
949,335982,bangalore,2008-04-18,2008,1,royal challengers bangalore,kolkata knight riders,m.chinnaswamy stadium,royal challengers bangalore,field,...,19.175455,18.705455,107.181818,101.669091,39.909091,28.305455,6.452727,5.872727,26.499091,21.080909

# Models

## Preprocessing

In [38]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import RobustScaler

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import ConfusionMatrixDisplay

In [39]:
df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'WinningTeam', 'innings_total',
       'TeamA_batting_average', 'TeamB_batting_average', 'TeamA_innings_total',
       'TeamB_innings_total', 'Team1_points_against_avg',
       'Team2_points_against_avg', 'Team1_MVP_average', 'Team2_MVP_average',
       'Team1Players', 'Team2Players', 'Avg_Score_PlayersTeam1',
       'Avg_Score_PlayersTeam2', 'batting_average_PlayersTeam1',
       'batting_average_PlayersTeam2', 'batting_strike_rate_PlayersTeam1',
       'batting_strike_rate_PlayersTeam2', 'bowling_average_PlayersTeam1',
       'bowling_average_PlayersTeam2', 'bowling_economy_rate_PlayersTeam1',
       'bowling_economy_rate_PlayersTeam2', 'bowling_strike_rate_PlayersTeam1',
       'bowling_strike_rate_PlayersTeam2'],
      dtype='object')

### Rename Columns

In [40]:
# rename columns TeamA and TeamB to Team1 and Team2
df = df.rename({'TeamA_batting_average': 'Team1_batting_average',
           'TeamB_batting_average': 'Team2_batting_average',
           'TeamA_innings_total': 'Team1_innings_total',
           'TeamB_innings_total' : 'Team2_innings_total'
          }, axis=1)

In [41]:
df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'WinningTeam', 'innings_total',
       'Team1_batting_average', 'Team2_batting_average', 'Team1_innings_total',
       'Team2_innings_total', 'Team1_points_against_avg',
       'Team2_points_against_avg', 'Team1_MVP_average', 'Team2_MVP_average',
       'Team1Players', 'Team2Players', 'Avg_Score_PlayersTeam1',
       'Avg_Score_PlayersTeam2', 'batting_average_PlayersTeam1',
       'batting_average_PlayersTeam2', 'batting_strike_rate_PlayersTeam1',
       'batting_strike_rate_PlayersTeam2', 'bowling_average_PlayersTeam1',
       'bowling_average_PlayersTeam2', 'bowling_economy_rate_PlayersTeam1',
       'bowling_economy_rate_PlayersTeam2', 'bowling_strike_rate_PlayersTeam1',
       'bowling_strike_rate_PlayersTeam2'],
      dtype='object')

### Drop Columns

In [42]:
columns_to_delete = ['Date', 'innings_total', 'Team1_innings_total', 'Team2_innings_total', 'Team1Players', 'Team2Players',
                    'Team1_batting_average', 'Team2_batting_average', 'Team1_points_against_avg', 'Team2_points_against_avg']

In [43]:
df.drop(columns=columns_to_delete, axis=1, inplace=True)

### Encoding

#### Toss Decision

In [44]:
# model
ohe = OneHotEncoder(sparse_output=False)

In [45]:
ohe.fit(df[['TossDecision']])

OneHotEncoder(sparse_output=False)

In [46]:
df[ohe.get_feature_names_out()] = ohe.transform(df[['TossDecision']])

In [47]:
df.drop(columns = ["TossDecision"], inplace = True)

In [48]:
df.shape

(950, 25)

#### City

In [49]:
# model
ohe = OneHotEncoder(sparse_output=False)

In [50]:
ohe.fit(df[['City']])

OneHotEncoder(sparse_output=False)

In [51]:
df[ohe.get_feature_names_out()] = ohe.transform(df[['City']])

In [52]:
df.drop(columns = ["City"], inplace = True)

In [53]:
df.shape

(950, 57)

#### Match Number

In [54]:
df.MatchNumber.unique() # playoffs = 1 ; regular games = 0

array(['final', 'qualifier 2', 'eliminator', 'qualifier 1', '70', '69',
       '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58',
       '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47',
       '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36',
       '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25',
       '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14',
       '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2',
       '1', 'qualifier', 'elimination final', '72', '71',
       '3rd place play-off', 'semi final'], dtype=object)

In [55]:
# function
def map_match_number(value):
    if isinstance(value, int) or value.isnumeric():
        return 0
    elif isinstance(value, str):
        return 1
    else:
        return value

In [56]:
df['MatchNumber'] = df['MatchNumber'].apply(map_match_number)

In [57]:
df.rename(columns={'MatchNumber': 'MatchImportance'}, inplace=True)

In [58]:
df.MatchImportance.value_counts() # ok

MatchImportance
0    892
1     58
Name: count, dtype: int64

#### Winning Team

In [59]:
# WinningTeam = 1 --> Team1 Won

In [60]:
df.WinningTeam.value_counts()

WinningTeam
mumbai indians                 131
chennai super kings            121
kolkata knight riders          114
royal challengers bangalore    109
delhi capitals                 103
punjab kings                   101
rajasthan royals                96
sunrisers hyderabad             75
deccan chargers                 29
rising pune supergiant          15
gujarat lions                   13
gujarat titans                  12
pune warriors                   12
lucknow super giants             9
kochi tuskers kerala             6
noresults                        4
Name: count, dtype: int64

In [61]:
# function
def map_winning_team(row):
    if row['WinningTeam'] == row['Team1']:
        return 1
    elif row['WinningTeam'] == row['Team2']:
        return 0
    else:
        return -1

In [62]:
df['WinningTeam'] = df.apply(map_winning_team, axis=1)

In [63]:
df.WinningTeam.value_counts()

WinningTeam
 1    480
 0    466
-1      4
Name: count, dtype: int64

In [64]:
# drop rows with Winning Team = -1
df = df.drop(df[df['WinningTeam'] == -1].index)

#### Venue

In [65]:
ohe = OneHotEncoder(sparse_output=False)

In [66]:
ohe.fit(df[['Venue']])

OneHotEncoder(sparse_output=False)

In [67]:
df[ohe.get_feature_names_out()] = ohe.transform(df[['Venue']])

In [68]:
df.drop(columns = ["Venue"], inplace = True)

In [69]:
df.shape

(946, 92)

#### Toss Winner

In [70]:
# Toss Winner --> 0 = away team ; 1 = home team

In [71]:
def map_toss_winner(row):
    if row['TossWinner'] == row['Team1']:
        return 1
    elif row['TossWinner'] == row['Team2']:
        return 0
    else:
        return -1

In [72]:
df['TossWinner'] = df.apply(map_toss_winner, axis=1)

In [73]:
df.TossWinner.value_counts()

TossWinner
0    563
1    383
Name: count, dtype: int64

#### Team1 and Team2

In [74]:
#hot encoder -- team 1
ohe = OneHotEncoder(sparse_output=False)

In [75]:
ohe.fit(df[['Team1']])

OneHotEncoder(sparse_output=False)

In [76]:
df[ohe.get_feature_names_out()] = ohe.transform(df[['Team1']])

In [77]:
df.drop(columns = ["Team1"], inplace = True)

In [78]:
df.shape

(946, 106)

In [79]:
# team2
ohe = OneHotEncoder(sparse_output=False)

In [80]:
ohe.fit(df[['Team2']])

OneHotEncoder(sparse_output=False)

In [81]:
df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])

/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/3559460154.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])
/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/3559460154.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])
/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/3559460154.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])
/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/3559460154.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])
/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/3559460154.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])
/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/3559460154.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])
/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_53252/3559460154.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ohe.get_feature_names_out()] = ohe.transform(df[['Team2']])

In [82]:
df.drop(columns = ["Team2"], inplace = True)

In [83]:
df.shape

(946, 120)

#### Season

In [84]:
label_encoder = LabelEncoder()

In [85]:
df['Season'] = label_encoder.fit_transform(df['Season'])

In [86]:
df.shape

(946, 120)

### Scaler

In [87]:
df.columns

Index(['ID', 'Season', 'MatchImportance', 'TossWinner', 'WinningTeam',
       'Team1_MVP_average', 'Team2_MVP_average', 'Avg_Score_PlayersTeam1',
       'Avg_Score_PlayersTeam2', 'batting_average_PlayersTeam1',
       ...
       'Team2_kochi tuskers kerala', 'Team2_kolkata knight riders',
       'Team2_lucknow super giants', 'Team2_mumbai indians',
       'Team2_pune warriors', 'Team2_punjab kings', 'Team2_rajasthan royals',
       'Team2_rising pune supergiant', 'Team2_royal challengers bangalore',
       'Team2_sunrisers hyderabad'],
      dtype='object', length=120)

In [88]:
columns_scaler = ['Team1_MVP_average', 'Team2_MVP_average', 'Avg_Score_PlayersTeam1', 'Avg_Score_PlayersTeam2', 
                  'batting_average_PlayersTeam1', 'batting_average_PlayersTeam2', 'batting_strike_rate_PlayersTeam1', 
                  'batting_strike_rate_PlayersTeam2', 'bowling_average_PlayersTeam1', 'bowling_average_PlayersTeam2', 
                  'bowling_economy_rate_PlayersTeam1', 'bowling_economy_rate_PlayersTeam2', 'bowling_strike_rate_PlayersTeam1',
                  'bowling_strike_rate_PlayersTeam2']

# 'Team1_batting_average', 'Team2_batting_average', 'Team1_points_against_avg', 'Team2_points_against_avg'

In [89]:
# Robust Scaler
scaler = RobustScaler()

In [90]:
# fit
scaler.fit(df[columns_scaler])

RobustScaler()

In [91]:
df[columns_scaler] = scaler.transform(df[columns_scaler])

In [92]:
df.shape

(946, 120)

## Random Forest

In [93]:
X = df.drop(['WinningTeam'], axis=1)
y = df.WinningTeam

In [94]:
X.shape, y.shape

((946, 119), (946,))

In [95]:
# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [96]:
# model
rf = RandomForestClassifier()

In [97]:
# cross valdation
cv = cross_validate(rf, X, y, cv=5)

In [98]:
cv

{'fit_time': array([0.6577549 , 0.61070585, 0.54464388, 0.58944082, 0.5966258 ]),
 'score_time': array([0.03366303, 0.03066397, 0.03637409, 0.0528121 , 0.04495597]),
 'test_score': array([0.47894737, 0.47089947, 0.51851852, 0.53968254, 0.5026455 ])}

In [99]:
# fit the model
rf.fit(X_train, y_train)

RandomForestClassifier()

In [100]:
y_pred = rf.predict(X_test)

In [101]:
accuracy = accuracy_score(y_test, y_pred)

In [102]:
print(f"Accuracy Model with Random Forest: {accuracy}")

Accuracy Model with Random Forest: 0.5

## SGD Classifier

In [103]:
from sklearn.linear_model import SGDClassifier

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [105]:
# SGDClassifier
sgd = SGDClassifier(max_iter=1000, random_state=42)

In [106]:
# cross valdation
cv = cross_validate(rf, X, y, cv=5)

In [107]:
cv

{'fit_time': array([0.65859914, 0.6406002 , 0.53085494, 0.56701398, 0.55066204]),
 'score_time': array([0.02718592, 0.02895474, 0.03548098, 0.02563906, 0.02744508]),
 'test_score': array([0.48421053, 0.47089947, 0.43915344, 0.54497354, 0.50793651])}

In [108]:
cv['test_score'].mean()

0.4894346978557505

In [109]:
# fit 
sgd.fit(X_train, y_train)

SGDClassifier(random_state=42)

In [110]:
# prevision
y_pred = sgd.predict(X_test)

In [111]:
accuracy = accuracy_score(y_test, y_pred)
print(f"SGD accuracy: {accuracy}")

SGD accuracy: 0.4471830985915493

## Deep Learning

In [112]:
import tensorflow as tf
from tensorflow import keras
from sklearn import datasets

2023-09-07 16:01:46.122818: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [113]:
# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [114]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((662, 119), (284, 119), (662,), (284,))

In [115]:
# neural network model
"""model = keras.Sequential([
    keras.layers.Input(shape=(122,)), 
    keras.layers.Dense(128, activation='relu'),  
    keras.layers.Dense(64, activation='relu'),   
    keras.layers.Dense(1, activation='sigmoid')  
])"""

"model = keras.Sequential([\n    keras.layers.Input(shape=(122,)), \n    keras.layers.Dense(128, activation='relu'),  \n    keras.layers.Dense(64, activation='relu'),   \n    keras.layers.Dense(1, activation='sigmoid')  \n])"

In [116]:
model = keras.Sequential([
    keras.layers.Input(shape=(X_train.shape[1],)), 
    keras.layers.Dense(4, activation='relu'),  
    keras.layers.Dense(4, activation='relu'),  
    keras.layers.Dense(2, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')  
])

In [117]:
# compile
model.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

In [118]:
early_stopping = keras.callbacks.EarlyStopping(
    monitor='val_loss',  
    patience=10,  
    restore_best_weights=True 
)

In [119]:
# train history
history = model.fit(X_train, y_train, epochs=150, batch_size=16,
                    validation_split=0.2, verbose=2, callbacks=[early_stopping])

Epoch 1/150
34/34 - 3s - loss: 599.4307 - accuracy: 0.4991 - val_loss: 0.6926 - val_accuracy: 0.5489 - 3s/epoch - 82ms/step
Epoch 2/150
34/34 - 0s - loss: 0.6925 - accuracy: 0.5293 - val_loss: 0.6915 - val_accuracy: 0.5489 - 294ms/epoch - 9ms/step
Epoch 3/150
34/34 - 0s - loss: 0.6922 - accuracy: 0.5293 - val_loss: 0.6913 - val_accuracy: 0.5489 - 256ms/epoch - 8ms/step
Epoch 4/150
34/34 - 0s - loss: 0.6921 - accuracy: 0.5293 - val_loss: 0.6912 - val_accuracy: 0.5489 - 262ms/epoch - 8ms/step
Epoch 5/150
34/34 - 0s - loss: 0.6920 - accuracy: 0.5293 - val_loss: 0.6910 - val_accuracy: 0.5489 - 242ms/epoch - 7ms/step
Epoch 6/150
34/34 - 0s - loss: 0.6920 - accuracy: 0.5293 - val_loss: 0.6909 - val_accuracy: 0.5489 - 290ms/epoch - 9ms/step
Epoch 7/150
34/34 - 0s - loss: 0.6920 - accuracy: 0.5293 - val_loss: 0.6909 - val_accuracy: 0.5489 - 275ms/epoch - 8ms/step
Epoch 8/150
34/34 - 0s - loss: 0.6919 - accuracy: 0.5293 - val_loss: 0.6907 - val_accuracy: 0.5489 - 251ms/epoch - 7ms/step
Epoch 9/150
34/34 - 0s - loss: 0.6919 - accuracy: 0.5293 - val_loss: 0.6906 - val_accuracy: 0.5489 - 240ms/epoch - 7ms/step
Epoch 10/150
34/34 - 0s - loss: 0.6918 - accuracy: 0.5293 - val_loss: 0.6904 - val_accuracy: 0.5489 - 238ms/epoch - 7ms/step
Epoch 11/150
34/34 - 0s - loss: 0.6918 - accuracy: 0.5293 - val_loss: 0.6904 - val_accuracy: 0.5489 - 261ms/epoch - 8ms/step
Epoch 12/150
34/34 - 0s - loss: 0.6917 - accuracy: 0.5293 - val_loss: 0.6904 - val_accuracy: 0.5489 - 394ms/epoch - 12ms/step
Epoch 13/150
34/34 - 0s - loss: 0.6918 - accuracy: 0.5293 - val_loss: 0.6904 - val_accuracy: 0.5489 - 262ms/epoch - 8ms/step
Epoch 14/150
34/34 - 0s - loss: 0.6917 - accuracy: 0.5293 - val_loss: 0.6903 - val_accuracy: 0.5489 - 358ms/epoch - 11ms/step
Epoch 15/150
34/34 - 0s - loss: 0.6917 - accuracy: 0.5293 - val_loss: 0.6901 - val_accuracy: 0.5489 - 236ms/epoch - 7ms/step
Epoch 16/150
34/34 - 0s - loss: 0.6917 - accuracy: 0.5293 - val_loss: 0.6902 - val_accuracy: 0.5489 - 266ms/epoch - 8ms/step
Epoch 17/150
34/34 - 0s - loss: 0.6917 - accuracy: 0.5293 - val_loss: 0.6902 - val_accuracy: 0.5489 - 247ms/epoch - 7ms/step
Epoch 18/150
34/34 - 0s - loss: 0.6917 - accuracy: 0.5293 - val_loss: 0.6901 - val_accuracy: 0.5489 - 277ms/epoch - 8ms/step
Epoch 19/150
34/34 - 0s - loss: 0.6917 - accuracy: 0.5293 - val_loss: 0.6901 - val_accuracy: 0.5489 - 231ms/epoch - 7ms/step
Epoch 20/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6899 - val_accuracy: 0.5489 - 269ms/epoch - 8ms/step
Epoch 21/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6898 - val_accuracy: 0.5489 - 246ms/epoch - 7ms/step
Epoch 22/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6899 - val_accuracy: 0.5489 - 256ms/epoch - 8ms/step
Epoch 23/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6899 - val_accuracy: 0.5489 - 256ms/epoch - 8ms/step
Epoch 24/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6898 - val_accuracy: 0.5489 - 220ms/epoch - 6ms/step
Epoch 25/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6899 - val_accuracy: 0.5489 - 288ms/epoch - 8ms/step
Epoch 26/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6897 - val_accuracy: 0.5489 - 265ms/epoch - 8ms/step
Epoch 27/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6898 - val_accuracy: 0.5489 - 252ms/epoch - 7ms/step
Epoch 28/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6898 - val_accuracy: 0.5489 - 240ms/epoch - 7ms/step
Epoch 29/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6897 - val_accuracy: 0.5489 - 291ms/epoch - 9ms/step
Epoch 30/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6896 - val_accuracy: 0.5489 - 246ms/epoch - 7ms/step
Epoch 31/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6895 - val_accuracy: 0.5489 - 270ms/epoch - 8ms/step
Epoch 32/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6896 - val_accuracy: 0.5489 - 247ms/epoch - 7ms/step
Epoch 33/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6896 - val_accuracy: 0.5489 - 324ms/epoch - 10ms/step
Epoch 34/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6895 - val_accuracy: 0.5489 - 237ms/epoch - 7ms/step
Epoch 35/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6894 - val_accuracy: 0.5489 - 252ms/epoch - 7ms/step
Epoch 36/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6893 - val_accuracy: 0.5489 - 269ms/epoch - 8ms/step
Epoch 37/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6895 - val_accuracy: 0.5489 - 247ms/epoch - 7ms/step
Epoch 38/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6895 - val_accuracy: 0.5489 - 250ms/epoch - 7ms/step
Epoch 39/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6895 - val_accuracy: 0.5489 - 268ms/epoch - 8ms/step
Epoch 40/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6896 - val_accuracy: 0.5489 - 277ms/epoch - 8ms/step
Epoch 41/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6896 - val_accuracy: 0.5489 - 241ms/epoch - 7ms/step
Epoch 42/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6897 - val_accuracy: 0.5489 - 267ms/epoch - 8ms/step
Epoch 43/150
34/34 - 0s - loss: 0.6916 - accuracy: 0.5293 - val_loss: 0.6897 - val_accuracy: 0.5489 - 244ms/epoch - 7ms/step
Epoch 44/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6896 - val_accuracy: 0.5489 - 260ms/epoch - 8ms/step
Epoch 45/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6895 - val_accuracy: 0.5489 - 242ms/epoch - 7ms/step
Epoch 46/150
34/34 - 0s - loss: 0.6915 - accuracy: 0.5293 - val_loss: 0.6894 - val_accuracy: 0.5489 - 273ms/epoch - 8ms/step

In [120]:
# Evaluate the model
accuracy = history.history['accuracy'][-1]
print(f"Model Accuracy: {accuracy:.4f}")

Model Accuracy: 0.5293

## XGBoost

In [1]:
df.shape

NameError: name 'df' is not defined

In [ ]:
X = df.drop('WinningTeam', axis=1) 
y = df['WinningTeam']

In [123]:
# split data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [124]:
# model
import xgboost as xgb

grid = {'max_depth':10,
       'base_score':0.5,
       'booster': 'gbtree',
        'gamma' : 0.1,
        'n_estimators': 150
       }


model = xgb.XGBClassifier(**grid)

In [125]:
# fit the model
model.fit(X_train, y_train)

/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=0.1, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=10, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=150, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [126]:
# prevision
y_pred = model.predict(X_test)

/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)

In [127]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.4f}")

Model Accuracy: 0.5053

In [128]:
cv = cross_validate(model, X, y, cv=5)

/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
/Users/mgomboski/.pyenv/versions/3.10.6/envs/ipl_prediction_model/lib/python3.10/site-packages/xgboost/data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)

In [129]:
cv

{'fit_time': array([2.16801596, 1.96459889, 1.86042285, 1.73418689, 1.64465284]),
 'score_time': array([0.04410911, 0.04318118, 0.04270411, 0.03732991, 0.05204606]),
 'test_score': array([0.49473684, 0.35978836, 0.34391534, 0.57142857, 0.51322751])}

## Logistic Regression

In [130]:
df.columns

Index(['ID', 'Season', 'MatchImportance', 'TossWinner', 'WinningTeam',
       'Team1_MVP_average', 'Team2_MVP_average', 'Avg_Score_PlayersTeam1',
       'Avg_Score_PlayersTeam2', 'batting_average_PlayersTeam1',
       ...
       'Team2_kochi tuskers kerala', 'Team2_kolkata knight riders',
       'Team2_lucknow super giants', 'Team2_mumbai indians',
       'Team2_pune warriors', 'Team2_punjab kings', 'Team2_rajasthan royals',
       'Team2_rising pune supergiant', 'Team2_royal challengers bangalore',
       'Team2_sunrisers hyderabad'],
      dtype='object', length=120)

In [131]:
X = df.drop('WinningTeam', axis=1) 
y = df['WinningTeam']

In [132]:
# split data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [133]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [134]:
y_pred = model.predict(X_test)

In [135]:
accuracy_score(y_test, y_pred)

0.4368421052631579

In [136]:
cv = cross_validate(model, X, y, cv=5)

In [137]:
cv

{'fit_time': array([0.04791236, 0.04255009, 0.02880788, 0.02562499, 0.02963614]),
 'score_time': array([0.02998281, 0.0137291 , 0.01346302, 0.01272678, 0.01340389]),
 'test_score': array([0.49473684, 0.49206349, 0.49206349, 0.49206349, 0.49206349])}

In [138]:
df

,ID,Season,MatchImportance,TossWinner,WinningTeam,Team1_MVP_average,Team2_MVP_average,Avg_Score_PlayersTeam1,Avg_Score_PlayersTeam2,batting_average_PlayersTeam1,...,Team2_kochi tuskers kerala,Team2_kolkata knight riders,Team2_lucknow super giants,Team2_mumbai indians,Team2_pune warriors,Team2_punjab kings,Team2_rajasthan royals,Team2_rising pune supergiant,Team2_royal challengers bangalore,Team2_sunrisers hyderabad
0,1312200,14,1,1,0,0.098306,2.082859,-0.233489,-1.371952,-0.552488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1312199,14,1,0,0,0.000000,0.000000,0.927816,-0.174209,0.112505,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1312198,14,1,0,1,0.000000,1.110858,0.927816,0.621020,0.112505,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1312197,14,1,0,0,0.098306,2.082859,-0.233489,-1.515919,-0.552488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1304116,14,0,1,0,-0.047860,-0.793470,-0.940093,0.277287,-0.549979,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,0,0,0,1,0.222842,-1.258972,-1.432989,-1.005644,-0.842186,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
946,335985,0,0,1,0,0.747509,-0.098306,-1.839945,-0.809285,-1.702914,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
947,335984,0,0,0,1,-0.902156,0.000000,-0.281687,-2.397615,-0.379339,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
948,335983,0,0,0,0,-0.252491,1.014726,-0.851381,0.637206,-0.744793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
949,335982,0,0,1,0,0.000000,0.124536,-0.352620,-1.297838,-0.698034,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0