# IPL Betting Models: Data Engineering

### Using the existing dataset to engineer better features

In [2]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Loading the datasets

df = pd.read_csv('~/code/patrickevans29/raw_data/complete_cleaned_dataset.csv')
ball_df = pd.read_csv('~/code/patrickevans29/raw_data/IPL_Ball_by_Ball_2008_2022_cleaned.csv')

# 1. Batsman

### Using the ball by ball data to extract key information for each batsman

In [4]:
# Exploring the data

ball_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non_striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,1,1,ybk jaiswal,mohammed shami,jc buttler,noextra,0,0,0,0,0,noplayerout,nokind,nofieldersinvolved,rajasthan royals
1,1312200,1,1,2,ybk jaiswal,mohammed shami,jc buttler,legbyes,0,1,1,0,0,noplayerout,nokind,nofieldersinvolved,rajasthan royals
2,1312200,1,1,3,jc buttler,mohammed shami,ybk jaiswal,noextra,1,0,1,0,0,noplayerout,nokind,nofieldersinvolved,rajasthan royals
3,1312200,1,1,4,ybk jaiswal,mohammed shami,jc buttler,noextra,0,0,0,0,0,noplayerout,nokind,nofieldersinvolved,rajasthan royals
4,1312200,1,1,5,ybk jaiswal,mohammed shami,jc buttler,noextra,0,0,0,0,0,noplayerout,nokind,nofieldersinvolved,rajasthan royals

In [5]:
# Calculating the total runs scored by each batsman

batter_total_runs = ball_df.groupby(['batter'], as_index=False)['batsman_run'].sum('batsman_run')\
                        .rename(columns={'batsman_run': 'total_runs'})

In [6]:
# Calculating the balls faced by each batsman

balls_faced = ball_df[ball_df['extra_type'].isin(['noextra', 'legbyes', 'byes', 'noballs'])]\
                .groupby(['batter'], as_index=False)['ballnumber'].count()\
                .rename(columns={'ballnumber': 'balls_faced'})

In [7]:
# Calculating the number of innings for each batsman

batter_innings = ball_df.groupby(['batter'], as_index=False)['ID'].nunique()\
                    .rename(columns={'ID': 'batter_innings'})
                    
# Updating for non-strikers

non_striker_innings = ball_df.groupby(['non_striker'], as_index=False)['ID'].nunique()\
                    .rename(columns={'ID': 'non_striker_innings', 'non_striker': 'batter'})
                    
combined_innings_df = batter_innings.merge(non_striker_innings, on='batter', how='outer').fillna(0)

combined_innings_df['bat_innings'] = combined_innings_df[['batter_innings', 'non_striker_innings']].max(axis=1)

# Final dataframe

bat_innings = combined_innings_df.drop(columns=['batter_innings', 'non_striker_innings'])

In [8]:
## Calculating the boundaries scored by each batsman
# A number of fours / sixes appear as non-boundary in the dataset

non_boundary = list(ball_df[ball_df['non_boundary'] == 1].index)

# Creating a temporary df to remove the non_boundary indexes

temp_df = ball_df.drop(index=non_boundary)

## Calculating the fours and sixes scored by each batsman

fours = temp_df[temp_df['batsman_run'] == 4].groupby(['batter'], as_index=False)\
    ['batsman_run'].count().rename(columns={'batsman_run': 'fours'})
    
sixes = temp_df[temp_df['batsman_run'] == 6].groupby(['batter'], as_index=False)\
    ['batsman_run'].count().rename(columns={'batsman_run': 'sixes'})

In [9]:
## Calculating the 0, 50 and 100 totals for each batsman

# Creating a batsman score for each game ID

batsman_score_game = ball_df.groupby(['ID', 'batter'], as_index=False)['batsman_run'].sum().drop(columns='ID')

# Filter the new dataframe to get 0, 50 and 100 scores only

zero = batsman_score_game[batsman_score_game['batsman_run'] == 0].groupby(['batter'], as_index=False)\
        .count().rename(columns={'batsman_run': 'zero'})

fifty = batsman_score_game[batsman_score_game['batsman_run'] >= 50].groupby(['batter'], as_index=False)\
        .count().rename(columns={'batsman_run': '50s'})
        
hundred = batsman_score_game[batsman_score_game['batsman_run'] >= 100].groupby(['batter'], as_index=False)\
        .count().rename(columns={'batsman_run': '100s'})
        
# Combining and removing the double counts

merged = zero.merge(fifty, on='batter', how='outer').merge(hundred, on='batter', how='outer').fillna(0)
merged['zero'] = merged['zero'].astype('int')
merged['50s'] = merged['50s'].sub(merged['100s']).astype('int')
merged['100s'] = merged['100s'].astype('int')

In [10]:
## Calculating batsman not out at innings end

# Finding the index of the last ball of each inning

last_ball_index_temp = list(ball_df.groupby(['ID', 'innings'], as_index=False)['innings']\
                        .idxmax().sort_values(by='innings', ascending=False)['innings'])

last_ball_index_temp.remove(0)

last_ball_index = [index - 1 for index in last_ball_index_temp]

last_ball_index.insert(0, ball_df.shape[0])

# Counting the player out on the final ball

player_out_final_ball = ball_df[(ball_df['isWicketDelivery']==1) & (ball_df.index.isin(last_ball_index))]\
                        .groupby(['player_out'], as_index=False)['ID'].count()\
                        .rename(columns={'ID': 'out_count', 'player_out': 'batter'})
                        
# Counting all batsman involved in final ball of an inning

final_ball_batter = ball_df[ball_df.index.isin(last_ball_index)].groupby(['batter'], as_index=False)\
                    ['ID'].count().rename(columns={'ID': 'at_bat_count'})
                    
final_ball_non_striker = ball_df[ball_df.index.isin(last_ball_index)].groupby(['non_striker'], as_index=False)\
                        ['ID'].count().rename(columns={'ID': 'non_striker_count', 'non_striker': 'batter'})
                        
# Combining the dataframes and calculating not_out for each batsman

combined_final_ball = final_ball_batter.merge(final_ball_non_striker, on='batter', how='outer')\
                        .merge(player_out_final_ball, on='batter', how='outer')
                        
combined_final_ball.fillna(0, inplace=True)

combined_final_ball['not_out'] = combined_final_ball['at_bat_count']\
                                .add(combined_final_ball['non_striker_count'])\
                                .sub(combined_final_ball['out_count']).astype('int')
                                
# Final dataframe

not_out = combined_final_ball[['batter', 'not_out']]

In [11]:
# Calculate the high score for each batsman

high_score = ball_df.groupby(['ID', 'batter'], as_index=False)['batsman_run']\
                        .sum().groupby('batter', as_index=False)['batsman_run'].max()\
                        .rename(columns={'batsman_run': 'high_score'})

In [12]:
# Merge all the statistics extracted

batting_stats_merged = bat_innings.merge(batter_total_runs, on='batter', how='outer')\
                        .merge(not_out, on='batter', how='outer')\
                        .merge(merged, on='batter', how='outer')\
                        .merge(fours, on='batter', how='outer')\
                        .merge(sixes, on='batter', how='outer')\
                        .merge(high_score, on='batter', how='outer')\
                        .merge(balls_faced, on='batter', how='outer').fillna(0)

In [13]:
# Check the dataframe

batting_stats_merged

,batter,bat_innings,total_runs,not_out,zero,50s,100s,fours,sixes,high_score,balls_faced
0,a ashish reddy,23.0,280.0,8.0,0.0,0.0,0.0,16.0,15.0,36.0,193.0
1,a badoni,11.0,161.0,3.0,1.0,1.0,0.0,11.0,7.0,54.0,130.0
2,a chandila,2.0,4.0,2.0,1.0,0.0,0.0,0.0,0.0,4.0,7.0
3,a chopra,6.0,53.0,0.0,0.0,0.0,0.0,7.0,0.0,24.0,71.0
4,a choudhary,3.0,25.0,2.0,0.0,0.0,0.0,1.0,1.0,15.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...
604,z khan,31.0,117.0,18.0,6.0,0.0,0.0,11.0,2.0,23.0,141.0
605,a nel,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,bw hilfenhaus,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,c ganapathy,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,tp sudhindra,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Calculate average score - total_runs / bat_innings

batting_stats_merged['average_score'] = round((batting_stats_merged['total_runs'] / batting_stats_merged['bat_innings']), 2).fillna(0)

In [16]:
# Calculate batting average - total_runs / (bat_innings - not_out)

batting_stats_merged['batting_average'] = round((batting_stats_merged['total_runs'] / \
    (batting_stats_merged['bat_innings'] - batting_stats_merged['not_out'])), 2).fillna(0)

# Replace infinite values with the average score

batting_stats_merged['batting_average'] = np.where(batting_stats_merged\
    ['batting_average'] == np.inf, batting_stats_merged['average_score'], batting_stats_merged['batting_average'])

In [17]:
# Calculate batting strike rate - (total_runs * 100) / balls_faced

batting_stats_merged['batting_strike_rate'] = round((batting_stats_merged['total_runs'] * 100)/ \
                                                batting_stats_merged['balls_faced'], 2).fillna(0)

In [18]:
# Final dataframe

batting_stats_merged

,batter,bat_innings,total_runs,not_out,zero,50s,100s,fours,sixes,high_score,balls_faced,average_score,batting_average,batting_strike_rate
0,a ashish reddy,23.0,280.0,8.0,0.0,0.0,0.0,16.0,15.0,36.0,193.0,12.17,18.67,145.08
1,a badoni,11.0,161.0,3.0,1.0,1.0,0.0,11.0,7.0,54.0,130.0,14.64,20.12,123.85
2,a chandila,2.0,4.0,2.0,1.0,0.0,0.0,0.0,0.0,4.0,7.0,2.00,2.00,57.14
3,a chopra,6.0,53.0,0.0,0.0,0.0,0.0,7.0,0.0,24.0,71.0,8.83,8.83,74.65
4,a choudhary,3.0,25.0,2.0,0.0,0.0,0.0,1.0,1.0,15.0,20.0,8.33,25.00,125.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,z khan,31.0,117.0,18.0,6.0,0.0,0.0,11.0,2.0,23.0,141.0,3.77,9.00,82.98
605,a nel,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00
606,bw hilfenhaus,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00
607,c ganapathy,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00
608,tp sudhindra,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00

In [19]:
# Export

# batting_stats_merged.to_csv('~/code/patrickevans29/raw_data/batting_features_dataset.csv', index=False)

# 2. Bowlers

### Using the ball by ball data to extract key information for each bowler

In [20]:
ball_df.tail(2)

,ID,innings,overs,ballnumber,batter,bowler,non_striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
225952,335982,2,16,1,sb joshi,lr shukla,p kumar,wides,0,1,1,0,0,noplayerout,nokind,nofieldersinvolved,royal challengers bangalore
225953,335982,2,16,2,sb joshi,lr shukla,p kumar,noextra,0,0,0,0,1,sb joshi,caught,bb mccullum,royal challengers bangalore

In [21]:
# Calculating the number of innings for each bowler

bowler_innings = ball_df.groupby(['bowler'], as_index=False)['ID'].nunique()\
                    .rename(columns={'ID': 'bowler_innings'})

In [22]:
# Calculating the number of balls bowled by each bowler

balls_bowled = ball_df[ball_df['extra_type'].isin(['noextra', 'legbyes', 'byes', 'penalty'])]\
                .groupby(['bowler'], as_index=False)['ballnumber'].count()\
                .rename(columns={'ballnumber': 'balls_bowled'})

In [23]:
# Calculating the number of runs conceded by each bowler

runs_conceded = ball_df[ball_df['extra_type'].isin(['noextra', 'wides', 'noballs'])]\
                .groupby(['bowler'], as_index=False)['total_run'].sum()\
                .rename(columns={'total_run': 'runs_conceded'})

In [24]:
# Calculating the number of wickets taken by each bowler

wickets = ball_df[(ball_df['isWicketDelivery'] == 1) & (ball_df['kind'].isin\
                (['nokind', 'caught', 'caught and bowled', 'bowled','stumped', 'lbw', 'hit wicket']))]\
                .groupby(['bowler'], as_index=False)['isWicketDelivery'].count()\
                .rename(columns={'isWicketDelivery': 'wickets'})

In [25]:
# Calculating the wicket stats for each bowler

wicket_count_per_game = ball_df[(ball_df['isWicketDelivery'] == 1) & (ball_df['kind'].isin\
                (['nokind', 'caught', 'caught and bowled', 'bowled','stumped', 'lbw', 'hit wicket']))]\
                .groupby(['ID', 'bowler'], as_index=False)['isWicketDelivery'].count()\
                .rename(columns={'isWicketDelivery': 'wickets'})
                
four_wickets = wicket_count_per_game[wicket_count_per_game['wickets'] == 4]\
                .groupby(['bowler'], as_index=False)['wickets'].count()\
                .rename(columns={'wickets': 'four_wickets'})
                
five_wickets = wicket_count_per_game[wicket_count_per_game['wickets'] == 5]\
                .groupby(['bowler'], as_index=False)['wickets'].count()\
                .rename(columns={'wickets': 'five_wickets'})

In [26]:
# Merge all the statistics extracted

bowling_stats_merged = bowler_innings.merge(balls_bowled, on='bowler', how='outer')\
                        .merge(runs_conceded, on='bowler', how='outer')\
                        .merge(wickets, on='bowler', how='outer')\
                        .merge(four_wickets, on='bowler', how='outer')\
                        .merge(five_wickets, on='bowler', how='outer').fillna(0)

In [27]:
# Check the new dataframe

bowling_stats_merged.head()

,bowler,bowler_innings,balls_bowled,runs_conceded,wickets,four_wickets,five_wickets
0,a ashish reddy,20,262,396,18.0,0.0,0.0
1,a badoni,2,12,11,2.0,0.0,0.0
2,a chandila,12,234,242,11.0,1.0,0.0
3,a choudhary,5,101,144,5.0,0.0,0.0
4,a dananjaya,1,24,47,0.0,0.0,0.0

In [28]:
# Calculate bowling average score - runs_conceded / wickets

bowling_stats_merged['bowling_average'] = round((bowling_stats_merged['runs_conceded'] / bowling_stats_merged['wickets']), 2).fillna(0)

# Replace infinite values with 0

bowling_stats_merged['bowling_average'] = np.where(bowling_stats_merged\
                                        ['bowling_average'] == np.inf, 0, bowling_stats_merged['bowling_average'])

In [29]:
# Calculate bowling economy rate - runs_conceded / (balls_bowled / 6)

bowling_stats_merged['bowling_economy_rate'] = round((bowling_stats_merged['runs_conceded']/(bowling_stats_merged['balls_bowled'] / 6)), 2)

In [30]:
# Calculate bowling strike rate - balls_bowled / wickets

bowling_stats_merged['bowling_strike_rate'] = round((bowling_stats_merged['balls_bowled']/bowling_stats_merged['wickets']), 2)

# Replace infinite values with 0

bowling_stats_merged['bowling_strike_rate'] = np.where(bowling_stats_merged\
                                        ['bowling_strike_rate'] == np.inf, 0, bowling_stats_merged['bowling_strike_rate'])

In [247]:
# Check the dataframe

bowling_stats_merged.head(2)

,bowler,bowler_innings,balls_bowled,runs_conceded,wickets,four_wickets,five_wickets,bowling_average,bowling_economy_rate,bowling_strike_rate
0,a ashish reddy,20,262,396,18.0,0.0,0.0,22.0,9.07,14.56
1,a badoni,2,12,11,2.0,0.0,0.0,5.5,5.50,6.00

In [32]:
# Export

# bowling_stats_merged.to_csv('~/code/patrickevans29/raw_data/bowling_features_dataset.csv', index=False)

# 3. Merging DataFrames

### Combining the new dataframes to include all player data

In [33]:
# Rename and reassign dataframe variables

player_bat = batting_stats_merged.rename(columns={'batter': 'player'})
player_bowl = bowling_stats_merged.rename(columns={'bowler': 'player'})

In [34]:
# Merge and fill nan values as 0

player_dataset = player_bat.merge(player_bowl, on='player', how='outer').fillna(0)

In [248]:
# View the final dataset

player_dataset.head(2)

,player,bat_innings,total_runs,not_out,zero,50s,100s,fours,sixes,high_score,...,batting_strike_rate,bowler_innings,balls_bowled,runs_conceded,wickets,four_wickets,five_wickets,bowling_average,bowling_economy_rate,bowling_strike_rate
0,a ashish reddy,23.0,280.0,8.0,0.0,0.0,0.0,16.0,15.0,36.0,...,145.08,20.0,262.0,396.0,18.0,0.0,0.0,22.0,9.07,14.56
1,a badoni,11.0,161.0,3.0,1.0,1.0,0.0,11.0,7.0,54.0,...,123.85,2.0,12.0,11.0,2.0,0.0,0.0,5.5,5.50,6.00

In [36]:
# Export

# player_dataset.to_csv('~/code/patrickevans29/raw_data/player_dataset.csv', index=False)

# 4. Adding Win / Loss Target Data

### Taking statistics for the wins and loses for each player and creating a single target column

In [117]:
# Load the dataset including eval to convert string data back to list

# df2 = pd.read_csv('~/code/patrickevans29/raw_data/complete_cleaned_dataset.csv', converters={'Team1Players': pd.eval, 'Team2Players':pd.eval})

In [233]:
# Check the data has loaded correctly

df2.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non_striker,extra_type,batsman_run,extras_run,...,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,1,1,ybk jaiswal,mohammed shami,jc buttler,noextra,0,0,...,bat,n,gujarat titans,wickets,7.0,hh pandya,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da...",cb gaffaney,nitin menon
1,1312200,1,1,2,ybk jaiswal,mohammed shami,jc buttler,legbyes,0,1,...,bat,n,gujarat titans,wickets,7.0,hh pandya,"[ybk jaiswal, jc buttler, sv samson, d padikka...","[wp saha, shubman gill, ms wade, hh pandya, da...",cb gaffaney,nitin menon

In [119]:
# Create a reduced dataframe for working on

df3 = df2[['ID', 'Season',
       'MatchNumber', 'Team1', 'Team2', 'TossWinner',
       'WinningTeam', 'Player_of_Match',
       'Team1Players', 'Team2Players']]

In [121]:
# Further reducing the dataframe by grouping the duplicated rows

df3 = df3.groupby('ID', as_index=False).first()

In [122]:
# Function to identify whether Team 1 won=1 or lost=0

def team_1_wins(Team1, Team2, WinningTeam):
    if WinningTeam == Team1:
        return 1
    elif WinningTeam == Team2:
        return 0
    else:
        return -1

In [123]:
# Apply the function to create the new row

df3['team_1_win'] = df3.apply(lambda row: \
    team_1_wins(row['Team1'], row['Team2'], row['WinningTeam']), axis=1)

In [125]:
# Function to identify the winning team of players

def winning_team_players(team_1_win, Team1Players, Team2Players):
    if team_1_win == 1:
        return Team1Players
    elif team_1_win == 0:
        return Team2Players
    else:
        return []

In [126]:
# Apply the function to create the new row

df3['winning_team_players'] = df3.apply(lambda row: winning_team_players(row['team_1_win'], row['Team1Players'], row['Team2Players']), axis=1)

In [202]:
# Function to append all players from winning teams to a list

player_wins = []
def player_wins_list(winning_team_players):
    for row in winning_team_players:
        for player in row:
            player_wins.append(player)
    return player_wins

In [203]:
# Call function to create the list

player_wins_list(df3['winning_team_players'])

['sc ganguly',
 'bb mccullum',
 'rt ponting',
 'dj hussey',
 'mohammad hafeez',
 'lr shukla',
 'wp saha',
 'ab agarkar',
 'ab dinda',
 'm kartik',
 'i sharma',
 'pa patel',
 'ml hayden',
 'mek hussey',
 'ms dhoni',
 'sk raina',
 'jdp oram',
 's badrinath',
 'joginder sharma',
 'p amarnath',
 'ms gony',
 'm muralitharan',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'mk tiwary',
 'kd karthik',
 'r bhatia',
 'm manhas',
 'dl vettori',
 'mf maharoof',
 'b geeves',
 'gd mcgrath',
 's chanderpaul',
 'r dravid',
 'lrpl taylor',
 'jh kallis',
 'v kohli',
 'mv boucher',
 'b akhil',
 'p kumar',
 'z khan',
 'sb joshi',
 'r vinay kumar',
 'wp saha',
 'bb mccullum',
 'rt ponting',
 'sc ganguly',
 'dj hussey',
 'mohammad hafeez',
 'lr shukla',
 'ab agarkar',
 'ab dinda',
 'm kartik',
 'i sharma',
 'm kaif',
 'kamran akmal',
 'yk pathan',
 'sr watson',
 'ds lehmann',
 'ra jadeja',
 'pankaj singh',
 'd salunkhe',
 'sk warne',
 'sk trivedi',
 'mm patel',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'shoaib malik',
 'kd karthik',
 'mk tiwary',
 'r bhatia',
 'mf maharoof',
 'mohammad asif',
 'vy mahesh',
 'gd mcgrath',
 'pa patel',
 'ml hayden',
 'mek hussey',
 'sk raina',
 'ms dhoni',
 'jdp oram',
 's badrinath',
 'joginder sharma',
 'p amarnath',
 'ms gony',
 'm muralitharan',
 'kamran akmal',
 'gc smith',
 'yk pathan',
 'sr watson',
 'm kaif',
 'ra jadeja',
 'sk warne',
 'd salunkhe',
 'pankaj singh',
 'sk trivedi',
 'mm patel',
 'k goel',
 'ik pathan',
 'kc sangakkara',
 'yuvraj singh',
 'rr sarwan',
 'dpmd jayawardene',
 's sohal',
 'b lee',
 'pp chawla',
 's sreesanth',
 'vrv singh',
 'gc smith',
 'm rawat',
 'yk pathan',
 'sr watson',
 'm kaif',
 'ra jadeja',
 'd salunkhe',
 'sk warne',
 'sohail tanvir',
 'sk trivedi',
 'mm patel',
 'pa patel',
 'ml hayden',
 'ms dhoni',
 'mek hussey',
 's badrinath',
 'sk raina',
 'jdp oram',
 'joginder sharma',
 'p amarnath',
 'ms gony',
 'm muralitharan',
 'ac gilchrist',
 'vvs laxman',
 'a symonds',
 'rg sharma',
 'shahid afridi',
 'sb bangar',
 'as yadav',
 'rp singh',
 'pp ojha',
 'd kalyankrishna',
 'dnt zoysa',
 'k goel',
 'sm katich',
 'kc sangakkara',
 'dpmd jayawardene',
 'yuvraj singh',
 'tm srivastava',
 'ik pathan',
 'b lee',
 'pp chawla',
 's sreesanth',
 'vrv singh',
 'pa patel',
 'ml hayden',
 'mek hussey',
 'sk raina',
 'ms dhoni',
 'jdp oram',
 's badrinath',
 'ja morkel',
 'joginder sharma',
 'p amarnath',
 'ms gony',
 'am rahane',
 'st jayasuriya',
 'mk pandey',
 'rv uthappa',
 'dj bravo',
 'sm pollock',
 'am nayar',
 'a nehra',
 'ds kulkarni',
 'crd fernando',
 'pr shah',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'shoaib malik',
 'kd karthik',
 'mk tiwary',
 'r bhatia',
 'dl vettori',
 'mohammad asif',
 'vy mahesh',
 'gd mcgrath',
 'se marsh',
 'rr sarwan',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 'k goel',
 'ik pathan',
 'pp chawla',
 's sreesanth',
 'vrv singh',
 'gagandeep singh',
 'gc smith',
 'sa asnodkar',
 'm kaif',
 'yk pathan',
 'sr watson',
 'ra jadeja',
 'sk warne',
 'sohail tanvir',
 'm rawat',
 'sk trivedi',
 'mm patel',
 'g gambhir',
 'v sehwag',
 'ab de villiers',
 's dhawan',
 'shoaib malik',
 'kd karthik',
 'r bhatia',
 'vy mahesh',
 'gd mcgrath',
 'pj sangwan',
 'mohammad asif',
 'jh kallis',
 'w jaffer',
 'misbah-ul-haq',
 'r dravid',
 'cl white',
 'v kohli',
 'b akhil',
 'sp goswami',
 'r vinay kumar',
 'a kumble',
 'dw steyn',
 'se marsh',
 'jr hopes',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 'k goel',
 'ik pathan',
 'pp chawla',
 's sreesanth',
 'vrv singh',
 'gagandeep singh',
 'yv takawale',
 'st jayasuriya',
 'dj thornely',
 'rv uthappa',
 'dj bravo',
 'am nayar',
 'sm pollock',
 'ss tiwary',
 'rr raje',
 'a nehra',
 'ds kulkarni',
 'gc smith',
 'sa asnodkar',
 'yk pathan',
 'sr watson',
 'm rawat',
 'm kaif',
 'ra jadeja',
 'sk warne',
 'sohail tanvir',
 'sk trivedi',
 'mm patel',
 'se marsh',
 'jr hopes',
 'rr sarwan',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'pp chawla',
 'u kaul',
 'gagandeep singh',
 's sreesanth',
 'vrv singh',
 'ac gilchrist',
 'hh gibbs',
 'sb styris',
 'rg sharma',
 'shahid afridi',
 'y venugopal rao',
 'sb bangar',
 'as yadav',
 'rp singh',
 'dp vijaykumar',
 'pp ojha',
 'yv takawale',
 'st jayasuriya',
 'rv uthappa',
 'dj bravo',
 'am nayar',
 'dj thornely',
 'sm pollock',
 'ss tiwary',
 'rr raje',
 'a nehra',
 'ds kulkarni',
 's vidyut',
 'sp fleming',
 'ms dhoni',
 'sk raina',
 'ja morkel',
 'ck kapugedera',
 's badrinath',
 'ms gony',
 'p amarnath',
 'm muralitharan',
 'l balaji',
 'a chopra',
 'bj hodge',
 'sc ganguly',
 'dj hussey',
 't taibu',
 'lr shukla',
 'wp saha',
 'm kartik',
 'umar gul',
 'i sharma',
 'ab dinda',
 'gc smith',
 'yk pathan',
 'm kaif',
 'sr watson',
 'nk patel',
 'ra jadeja',
 'sk warne',
 'm rawat',
 'sohail tanvir',
 'sk trivedi',
 'mm patel',
 'st jayasuriya',
 'sr tendulkar',
 'rv uthappa',
 'dr smith',
 'am nayar',
 'sm pollock',
 'mk pandey',
 'yv takawale',
 'ds kulkarni',
 'crd fernando',
 'a nehra',
 's vidyut',
 'sp fleming',
 'sk raina',
 's badrinath',
 'ms dhoni',
 'ja morkel',
 'ck kapugedera',
 'p amarnath',
 'ms gony',
 'm muralitharan',
 'l balaji',
 'salman butt',
 'a chopra',
 'sc ganguly',
 'dj hussey',
 't taibu',
 'lr shukla',
 'wp saha',
 'umar gul',
 'i sharma',
 'ab dinda',
 'm kartik',
 'yk pathan',
 'gc smith',
 'm kaif',
 'sr watson',
 'ra jadeja',
 'ad mascarenhas',
 'sk warne',
 'nk patel',
 'm rawat',
 'sk trivedi',
 'mm patel',
 'se marsh',
 'jr hopes',
 'la pomersbach',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'tm srivastava',
 'pp chawla',
 'u kaul',
 's sreesanth',
 'vrv singh',
 'salman butt',
 'a chopra',
 'sc ganguly',
 'dj hussey',
 't taibu',
 'lr shukla',
 'wp saha',
 'iqbal abdulla',
 'i sharma',
 'ab dinda',
 'shoaib akhtar',
 'st jayasuriya',
 'sr tendulkar',
 'rv uthappa',
 'dj thornely',
 'dj bravo',
 'am nayar',
 'sm pollock',
 'yv takawale',
 'rr raje',
 'a nehra',
 'ds kulkarni',
 'se marsh',
 'jr hopes',
 'yuvraj singh',
 'la pomersbach',
 'kc sangakkara',
 'rr powar',
 'pp chawla',
 'ik pathan',
 'vrv singh',
 's sreesanth',
 'wa mota',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'mf maharoof',
 'tm dilshan',
 'mk tiwary',
 'kd karthik',
 'a mishra',
 'r bhatia',
 'gd mcgrath',
 'mohammad asif',
 'st jayasuriya',
 'sr tendulkar',
 'rv uthappa',
 'dj thornely',
 'dj bravo',
 'am nayar',
 'sm pollock',
 'rv pawar',
 'yv takawale',
 'rr raje',
 'a nehra',
 'se marsh',
 'jr hopes',
 'yuvraj singh',
 'la pomersbach',
 'dpmd jayawardene',
 'ik pathan',
 'rr powar',
 'pp chawla',
 'u kaul',
 's sreesanth',
 'vrv singh',
 'gc smith',
 'sa asnodkar',
 'sr watson',
 'yk pathan',
 'm kaif',
 'ra jadeja',
 'sk warne',
 'sohail tanvir',
 'm rawat',
 'sk trivedi',
 'mm patel',
 'st jayasuriya',
 'sr tendulkar',
 'dj thornely',
 'am nayar',
 'rv uthappa',
 'dj bravo',
 'pr shah',
 'yv takawale',
 'rr raje',
 'a nehra',
 'crd fernando',
 'pa patel',
 'sp fleming',
 's vidyut',
 'sk raina',
 's badrinath',
 'ms dhoni',
 'ja morkel',
 'ms gony',
 'l balaji',
 'm muralitharan',
 'm ntini',
 'g gambhir',
 'v sehwag',
 'ab de villiers',
 'tm dilshan',
 's dhawan',
 'kd karthik',
 'mf maharoof',
 'r bhatia',
 'vy mahesh',
 'pj sangwan',
 'gd mcgrath',
 'gc smith',
 'sa asnodkar',
 'sohail tanvir',
 'm kaif',
 'sr watson',
 'yk pathan',
 'ra jadeja',
 'sk warne',
 'm rawat',
 'sk trivedi',
 'mm patel',
 'se marsh',
 'jr hopes',
 'la pomersbach',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'tm srivastava',
 'pp chawla',
 'u kaul',
 's sreesanth',
 'vrv singh',
 'jh kallis',
 'sp goswami',
 'v kohli',
 'r dravid',
 'misbah-ul-haq',
 'mv boucher',
 'b akhil',
 'p kumar',
 'r vinay kumar',
 'a kumble',
 'dw steyn',
 'se marsh',
 'kc sangakkara',
 'yuvraj singh',
 'la pomersbach',
 'dpmd jayawardene',
 'pp chawla',
 'tm srivastava',
 'rr powar',
 'gagandeep singh',
 'vrv singh',
 's sreesanth',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'mk tiwary',
 'tm dilshan',
 'kd karthik',
 'mf maharoof',
 'b geeves',
 'vy mahesh',
 'a mishra',
 'gd mcgrath',
 'gc smith',
 'sa asnodkar',
 'kamran akmal',
 'yk pathan',
 'm kaif',
 't kohli',
 'd salunkhe',
 'sk warne',
 'sohail tanvir',
 'pankaj singh',
 'mm patel',
 'b chipli',
 'w jaffer',
 'v kohli',
 'jh kallis',
 'misbah-ul-haq',
 'r dravid',
 'mv boucher',
 'p kumar',
 'z khan',
 'dw steyn',
 'a kumble',
 'salman butt',
 'sc ganguly',
 'db das',
 'dj hussey',
 'lr shukla',
 'wp saha',
 'a chopra',
 'umar gul',
 'i sharma',
 'baw mendis',
 'ab dinda',
 'kamran akmal',
 'sa asnodkar',
 'yk pathan',
 'sr watson',
 'm kaif',
 'ra jadeja',
 'nk patel',
 'sk warne',
 'sohail tanvir',
 'sk trivedi',
 'pankaj singh',
 'pa patel',
 'sp fleming',
 'sk raina',
 'ms dhoni',
 'ja morkel',
 's badrinath',
 'a mukund',
 'm ntini',
 'm muralitharan',
 'ms gony',
 'l balaji',
 'gc smith',
 'sa asnodkar',
 'sohail tanvir',
 'sr watson',
 'm kaif',
 'yk pathan',
 'ra jadeja',
 'sk warne',
 'm rawat',
 'mm patel',
 'sk trivedi',
 'pa patel',
 's vidyut',
 'sk raina',
 'ms dhoni',
 'ck kapugedera',
 's badrinath',
 'ja morkel',
 'ms gony',
 'l balaji',
 'm muralitharan',
 'm ntini',
 'nk patel',
 'sa asnodkar',
 'kamran akmal',
 'sr watson',
 'yk pathan',
 'm kaif',
 'ra jadeja',
 'sk warne',
 'sohail tanvir',
 'sk trivedi',
 'mm patel',
 'st jayasuriya',
 'sr tendulkar',
 's dhawan',
 'jp duminy',
 'dj bravo',
 'am nayar',
 'harbhajan singh',
 'z khan',
 'pr shah',
 'sl malinga',
 'rr raje',
 'jd ryder',
 'rv uthappa',
 'lrpl taylor',
 'kp pietersen',
 'r dravid',
 'v kohli',
 'b akhil',
 'p kumar',
 'r vinay kumar',
 'dw steyn',
 'a kumble',
 'g gambhir',
 'v sehwag',
 'tm dilshan',
 'ab de villiers',
 'mk tiwary',
 'kd karthik',
 'dp nannes',
 'dl vettori',
 'vy mahesh',
 'am salvi',
 'pj sangwan',
 'ac gilchrist',
 'hh gibbs',
 'vvs laxman',
 'rg sharma',
 'sb styris',
 'y venugopal rao',
 'harmeet singh',
 'pp ojha',
 'rp singh',
 'db ravi teja',
 'fh edwards',
 'pa patel',
 'ml hayden',
 'sk raina',
 'ms dhoni',
 'a flintoff',
 'ja morkel',
 's badrinath',
 'joginder sharma',
 'l balaji',
 'ms gony',
 'm muralitharan',
 'bb mccullum',
 'ch gayle',
 'bj hodge',
 'sc ganguly',
 'yashpal singh',
 'a chopra',
 'mc henriques',
 'lr shukla',
 'i sharma',
 'm kartik',
 'ab dinda',
 'ac gilchrist',
 'hh gibbs',
 'vvs laxman',
 'rg sharma',
 'sb styris',
 'y venugopal rao',
 'db ravi teja',
 'fh edwards',
 'harmeet singh',
 'pp ojha',
 'rp singh',
 'g gambhir',
 'v sehwag',
 'ab de villiers',
 'tm dilshan',
 'kd karthik',
 'mk tiwary',
 'dl vettori',
 'dp nannes',
 'am salvi',
 'pj sangwan',
 'a nehra',
 'gc smith',
 'pc valthaty',
 'rj quiney',
 'yk pathan',
 'ra jadeja',
 'ad mascarenhas',
 'as raut',
 'sk warne',
 'm rawat',
 'mm patel',
 'kamran khan',
 'rs bopara',
 'k goel',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'wa mota',
 'pp chawla',
 'vrv singh',
 'rr bose',
 'ya abdulla',
 'ac gilchrist',
 'hh gibbs',
 'dr smith',
 'rg sharma',
 'vvs laxman',
 'y venugopal rao',
 'db ravi teja',
 'rp singh',
 'fh edwards',
 'pp ojha',
 'harmeet singh',
 'g gambhir',
 'v sehwag',
 'tm dilshan',
 'ab de villiers',
 'kd karthik',
 'm manhas',
 'a mishra',
 'dl vettori',
 'dp nannes',
 'pj sangwan',
 'a nehra',
 'rs bopara',
 'k goel',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'pp chawla',
 'wa mota',
 'rr powar',
 'vrv singh',
 'ya abdulla',
 'ac gilchrist',
 'hh gibbs',
 'vvs laxman',
 'rg sharma',
 'dr smith',
 'aa bilakhia',
 'y venugopal rao',
 'pp ojha',
 'rp singh',
 'fh edwards',
 'shoaib ahmed',
 'st jayasuriya',
 'sr tendulkar',
 'harbhajan singh',
 'jp duminy',
 'am nayar',
 'dj bravo',
 's dhawan',
 'ss tiwary',
 'pr shah',
 'z khan',
 'sl malinga',
 'rj quiney',
 'gc smith',
 'sa asnodkar',
 'pc valthaty',
 'ra jadeja',
 'sk warne',
 'yk pathan',
 'ad mascarenhas',
 'm rawat',
 'mm patel',
 'kamran khan',
 'jh kallis',
 'sp goswami',
 'kp pietersen',
 'v kohli',
 'mv boucher',
 're van der merwe',
 'mk pandey',
 'p kumar',
 'pankaj singh',
 'a kumble',
 'kp appanna',
 'rs bopara',
 'k goel',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'wa mota',
 'pp chawla',
 'rr powar',
 'vs malik',
 'ya abdulla',
 'g gambhir',
 'v sehwag',
 'ab de villiers',
 'tm dilshan',
 'kd karthik',
 'm manhas',
 'dl vettori',
 'a mishra',
 'pj sangwan',
 'a nehra',
 'dp nannes',
 'pa patel',
 'ml hayden',
 'sk raina',
 's badrinath',
 'jdp oram',
 'ms dhoni',
 'ja morkel',
 's tyagi',
 'sb jakati',
 'l balaji',
 'm muralitharan',
 'st jayasuriya',
 'sr tendulkar',
 'harbhajan singh',
 'am nayar',
 'jp duminy',
 'gr napier',
 'am rahane',
 'z khan',
 'ss tiwary',
 'pr shah',
 'sl malinga',
 'jd ryder',
 'sp goswami',
 'r bishnoi',
 'jh kallis',
 'rv uthappa',
 'v kohli',
 'mv boucher',
 're van der merwe',
 'p kumar',
 'a kumble',
 'kp appanna',
 'gc smith',
 'sa asnodkar',
 'la carseldine',
 'nv ojha',
 'ra jadeja',
 'sk warne',
 'as raut',
 'yk pathan',
 'sm harwood',
 'sk trivedi',
 'mm patel',
 'm vijay',
 'ml hayden',
 'sk raina',
 's badrinath',
 'ja morkel',
 'ms dhoni',
 'jdp oram',
 'sb jakati',
 'l balaji',
 'm muralitharan',
 's tyagi',
 's sohal',
 'kc sangakkara',
 'sm katich',
 'dpmd jayawardene',
 'yuvraj singh',
 'ik pathan',
 'rr powar',
 'tm srivastava',
 'vs malik',
 'pp chawla',
 'ya abdulla',
 'jh kallis',
 'w jaffer',
 'rv uthappa',
 'r dravid',
 'v kohli',
 'mv boucher',
 're van der merwe',
 'd du preez',
 'p kumar',
 'r vinay kumar',
 'a kumble',
 'm vijay',
 'ml hayden',
 'ms dhoni',
 'sk raina',
 'ja morkel',
 'jdp oram',
 's badrinath',
 's tyagi',
 'sb jakati',
 'l balaji',
 'm muralitharan',
 'nv ojha',
 'gc smith',
 'yk pathan',
 'ra jadeja',
 'la carseldine',
 'as raut',
 'nk patel',
 'sk warne',
 'sm harwood',
 'sk trivedi',
 'a singh',
 'g gambhir',
 'da warner',
 'tm dilshan',
 'ab de villiers',
 'kd karthik',
 'm manhas',
 'r bhatia',
 'a mishra',
 'pj sangwan',
 'a nehra',
 'dp nannes',
 'ac gilchrist',
 'hh gibbs',
 'tl suman',
 'rg sharma',
 'dr smith',
 'y venugopal rao',
 'db ravi teja',
 'rj harris',
 'shoaib ahmed',
 'rp singh',
 'harmeet singh',
 'gc smith',
 'nv ojha',
 'la carseldine',
 'yk pathan',
 'ra jadeja',
 'as raut',
 'nk patel',
 'sk warne',
 'm morkel',
 'mm patel',
 'a singh',
 's badrinath',
 'ml hayden',
 'sk raina',
 'ms dhoni',
 'ja morkel',
 'gj bailey',
 's tyagi',
 'sb jakati',
 'l balaji',
 'm muralitharan',
 'ms gony',
 'g gambhir',
 'da warner',
 'tm dilshan',
 'ab de villiers',
 'kd karthik',
 'm manhas',
 'r bhatia',
 'a mishra',
 'pj sangwan',
 'a nehra',
 ...]

In [204]:
# Count all players from winning teams to a dictionary

player_win_count = {}

for player in player_wins:
    if player in player_win_count:
        player_win_count[player] += 1
    else:
        player_win_count[player] = 1

In [228]:
# Convert dictionary to a dataframe for merging

wins = pd.DataFrame({'player': player_win_count.keys(), 'wins': player_win_count.values()})

In [191]:
# Function to identify the losing team of players

def losing_team_players(team_1_win, Team1Players, Team2Players):
    if team_1_win == 0:
        return Team1Players
    elif team_1_win == 1:
        return Team2Players
    else:
        return []

In [192]:
# Apply the function to create the new row

df3['losing_team_players'] = df3.apply(lambda row: losing_team_players(row['team_1_win'], row['Team1Players'], row['Team2Players']), axis=1)

In [206]:
# Function to append all players from losing teams to a list

player_loses = []

def player_loses_list(losing_team_players):
    for row in losing_team_players:
        for player in row:
            player_loses.append(player)
    return player_loses

In [208]:
# Call function to create the list

player_loses_list(df3['losing_team_players'])

['r dravid',
 'w jaffer',
 'v kohli',
 'jh kallis',
 'cl white',
 'mv boucher',
 'b akhil',
 'aa noffke',
 'p kumar',
 'z khan',
 'sb joshi',
 'k goel',
 'jr hopes',
 'kc sangakkara',
 'yuvraj singh',
 'sm katich',
 'ik pathan',
 'p dharmani',
 'b lee',
 'pp chawla',
 'wa mota',
 's sreesanth',
 't kohli',
 'yk pathan',
 'sr watson',
 'm kaif',
 'ds lehmann',
 'ra jadeja',
 'm rawat',
 'd salunkhe',
 'sk warne',
 'sk trivedi',
 'mm patel',
 'l ronchi',
 'st jayasuriya',
 'dj thornely',
 'rv uthappa',
 'pr shah',
 'am nayar',
 'sm pollock',
 'harbhajan singh',
 'ma khote',
 'a nehra',
 'ds kulkarni',
 'ac gilchrist',
 'y venugopal rao',
 'vvs laxman',
 'a symonds',
 'rg sharma',
 'sb styris',
 'as yadav',
 'sb bangar',
 'wpujc vaas',
 'rp singh',
 'pp ojha',
 'k goel',
 'jr hopes',
 'kc sangakkara',
 'dpmd jayawardene',
 'yuvraj singh',
 'ik pathan',
 's sohal',
 'b lee',
 'pp chawla',
 'wa mota',
 's sreesanth',
 'ac gilchrist',
 'y venugopal rao',
 'vvs laxman',
 'a symonds',
 'rg sharma',
 'shahid afridi',
 'sb bangar',
 'as yadav',
 'wpujc vaas',
 'rp singh',
 'pp ojha',
 'l ronchi',
 'st jayasuriya',
 'rv uthappa',
 'sm pollock',
 'dj bravo',
 'am nayar',
 'ma khote',
 'harbhajan singh',
 'a nehra',
 'vs yeligati',
 'ds kulkarni',
 'ac gilchrist',
 'vvs laxman',
 'shahid afridi',
 'a symonds',
 'rg sharma',
 'as yadav',
 'sb bangar',
 'wpujc vaas',
 'rp singh',
 'pp ojha',
 'd kalyankrishna',
 'l ronchi',
 'st jayasuriya',
 'rv uthappa',
 'dj bravo',
 'ss tiwary',
 'sm pollock',
 'am nayar',
 'harbhajan singh',
 'ma khote',
 'ds kulkarni',
 'a nehra',
 's chanderpaul',
 'r dravid',
 'lrpl taylor',
 'jh kallis',
 'v kohli',
 'mv boucher',
 'p kumar',
 'sb joshi',
 'z khan',
 'r vinay kumar',
 'a kumble',
 'sc ganguly',
 'bb mccullum',
 'rt ponting',
 'wp saha',
 'dj hussey',
 'mohammad hafeez',
 'lr shukla',
 'ab agarkar',
 'm kartik',
 'i sharma',
 'ab dinda',
 'l ronchi',
 'st jayasuriya',
 'am rahane',
 'rv uthappa',
 'sm pollock',
 'am nayar',
 'dj bravo',
 'ma khote',
 'a nehra',
 'ds kulkarni',
 'sd chitnis',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'shoaib malik',
 'mk tiwary',
 'kd karthik',
 'r bhatia',
 'mf maharoof',
 'vy mahesh',
 'mohammad asif',
 'gd mcgrath',
 'b chipli',
 'w jaffer',
 'lrpl taylor',
 'jh kallis',
 'mv boucher',
 'v kohli',
 'r dravid',
 'p kumar',
 'z khan',
 'b akhil',
 'dw steyn',
 'bb mccullum',
 'sc ganguly',
 'rt ponting',
 'db das',
 'dj hussey',
 'mohammad hafeez',
 'lr shukla',
 'ab agarkar',
 'm kartik',
 'i sharma',
 'ab dinda',
 'p kumar',
 'w jaffer',
 'lrpl taylor',
 'jh kallis',
 'r dravid',
 'mv boucher',
 'v kohli',
 'z khan',
 'dw steyn',
 'r vinay kumar',
 'sb joshi',
 'ac gilchrist',
 'vvs laxman',
 'hh gibbs',
 'rg sharma',
 'shahid afridi',
 'y venugopal rao',
 'sb bangar',
 'dnt zoysa',
 'd kalyankrishna',
 'rp singh',
 'pp ojha',
 'salman butt',
 'sc ganguly',
 'ab agarkar',
 'bj hodge',
 'dj hussey',
 'lr shukla',
 'db das',
 'wp saha',
 'umar gul',
 'i sharma',
 'ab dinda',
 'pa patel',
 'sp fleming',
 's vidyut',
 'ms dhoni',
 'ja morkel',
 'sk raina',
 's badrinath',
 'joginder sharma',
 'm ntini',
 'ms gony',
 'm muralitharan',
 'ac gilchrist',
 'hh gibbs',
 'rg sharma',
 'lpc silva',
 'y venugopal rao',
 'db ravi teja',
 'as yadav',
 'sb bangar',
 'wpujc vaas',
 'rp singh',
 'dp vijaykumar',
 'mohammad hafeez',
 'sc ganguly',
 'db das',
 'bj hodge',
 'dj hussey',
 'lr shukla',
 'wp saha',
 'ab agarkar',
 'umar gul',
 'i sharma',
 'ab dinda',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'ab de villiers',
 'shoaib malik',
 'kd karthik',
 'r bhatia',
 'pj sangwan',
 'vy mahesh',
 'mohammad asif',
 'gd mcgrath',
 'pa patel',
 'sp fleming',
 's vidyut',
 'sk raina',
 's badrinath',
 'ms dhoni',
 'ja morkel',
 'joginder sharma',
 'ms gony',
 'm muralitharan',
 'm ntini',
 'w jaffer',
 'v kohli',
 'cl white',
 'jh kallis',
 'r dravid',
 'misbah-ul-haq',
 'p kumar',
 'dt patil',
 'z khan',
 'a kumble',
 'dw steyn',
 'pa patel',
 'sp fleming',
 's anirudha',
 'sk raina',
 's badrinath',
 'ms dhoni',
 'ja morkel',
 'joginder sharma',
 'ms gony',
 'm ntini',
 'm muralitharan',
 'gc smith',
 'sa asnodkar',
 'yk pathan',
 'sr watson',
 'm kaif',
 'ra jadeja',
 'sk warne',
 'sohail tanvir',
 'm rawat',
 'sk trivedi',
 'mm patel',
 'g gambhir',
 'v sehwag',
 'ab de villiers',
 's dhawan',
 'shoaib malik',
 'kd karthik',
 'mk tiwary',
 'vy mahesh',
 'gd mcgrath',
 'mohammad asif',
 'pj sangwan',
 'j arunkumar',
 's chanderpaul',
 'mv boucher',
 'r dravid',
 'cl white',
 'p kumar',
 'r vinay kumar',
 'v kohli',
 'z khan',
 'a kumble',
 'dw steyn',
 'ac gilchrist',
 'hh gibbs',
 'sb styris',
 'rg sharma',
 'shahid afridi',
 'sb bangar',
 'db ravi teja',
 'y venugopal rao',
 'rp singh',
 'pp ojha',
 'dp vijaykumar',
 'mv boucher',
 'sp goswami',
 'misbah-ul-haq',
 'r dravid',
 'cl white',
 'v kohli',
 'b akhil',
 'p kumar',
 'r vinay kumar',
 'a kumble',
 'dw steyn',
 'se marsh',
 'jr hopes',
 'k goel',
 'rr sarwan',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'pp chawla',
 's sreesanth',
 'vrv singh',
 'u kaul',
 'ac gilchrist',
 'hh gibbs',
 'db ravi teja',
 'rg sharma',
 'sb styris',
 'y venugopal rao',
 'sb bangar',
 'wpujc vaas',
 'rp singh',
 'dp vijaykumar',
 'pp ojha',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'ab de villiers',
 'kd karthik',
 'tm dilshan',
 'a mishra',
 'mf maharoof',
 'vy mahesh',
 'gd mcgrath',
 'pj sangwan',
 'j arunkumar',
 'v kohli',
 'misbah-ul-haq',
 'cl white',
 'r dravid',
 'mv boucher',
 'p kumar',
 'r vinay kumar',
 'z khan',
 'a kumble',
 'dw steyn',
 'g gambhir',
 'v sehwag',
 'ab de villiers',
 'mk tiwary',
 's dhawan',
 'tm dilshan',
 'a mishra',
 'mf maharoof',
 'vy mahesh',
 'pj sangwan',
 'gd mcgrath',
 's vidyut',
 'sp fleming',
 'sk raina',
 's badrinath',
 'ck kapugedera',
 'ms dhoni',
 'ja morkel',
 'joginder sharma',
 'ms gony',
 'l balaji',
 'm muralitharan',
 'm kaif',
 'nk patel',
 'younis khan',
 'sr watson',
 'yk pathan',
 'kamran akmal',
 'm rawat',
 'd salunkhe',
 'pankaj singh',
 'sk trivedi',
 'mm patel',
 'ac gilchrist',
 'shahid afridi',
 'hh gibbs',
 'rg sharma',
 'sb styris',
 'y venugopal rao',
 'db ravi teja',
 'rp singh',
 'pp ojha',
 'dp vijaykumar',
 'pm sarvesh kumar',
 'salman butt',
 'a chopra',
 'sc ganguly',
 'dj hussey',
 'mohammad hafeez',
 'wp saha',
 'lr shukla',
 'ab agarkar',
 'shoaib akhtar',
 'i sharma',
 'ab dinda',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'tm dilshan',
 'mf maharoof',
 'shoaib malik',
 'pj sangwan',
 'kd karthik',
 'a mishra',
 'r bhatia',
 'gd mcgrath',
 'j arunkumar',
 'v kohli',
 'misbah-ul-haq',
 'jh kallis',
 'cl white',
 'r dravid',
 'dt patil',
 'p kumar',
 'z khan',
 'a kumble',
 'abdur razzak',
 'ac gilchrist',
 'shahid afridi',
 'rg sharma',
 'lpc silva',
 'y venugopal rao',
 'db ravi teja',
 'dnt zoysa',
 'h das',
 'rp singh',
 'pp ojha',
 'dp vijaykumar',
 'salman butt',
 'mohammad hafeez',
 'sc ganguly',
 'db das',
 'dj hussey',
 'lr shukla',
 'wp saha',
 'ab agarkar',
 'i sharma',
 'ab dinda',
 'shoaib akhtar',
 'jh kallis',
 'b chipli',
 'sp goswami',
 'r dravid',
 'misbah-ul-haq',
 'cl white',
 'b akhil',
 'p kumar',
 'z khan',
 'a kumble',
 'dw steyn',
 'salman butt',
 'mohammad hafeez',
 'sc ganguly',
 'dj hussey',
 'db das',
 'lr shukla',
 'wp saha',
 'ab agarkar',
 'umar gul',
 'i sharma',
 'ab dinda',
 'st jayasuriya',
 'sr tendulkar',
 'dr smith',
 'am nayar',
 'rv uthappa',
 'sm pollock',
 'pr shah',
 'sd chitnis',
 'crd fernando',
 'a nehra',
 'vs yeligati',
 'pa patel',
 'sp fleming',
 'ms dhoni',
 'sk raina',
 's badrinath',
 'ja morkel',
 's vidyut',
 'ms gony',
 'l balaji',
 'm ntini',
 'm muralitharan',
 'ac gilchrist',
 'hh gibbs',
 'rg sharma',
 'y venugopal rao',
 'lpc silva',
 'sb styris',
 'db ravi teja',
 'sb bangar',
 'rp singh',
 'pp ojha',
 'dp vijaykumar',
 'st jayasuriya',
 'sr tendulkar',
 'dr smith',
 'rv uthappa',
 'am nayar',
 'sm pollock',
 'sd chitnis',
 'pr shah',
 'a nel',
 'ds kulkarni',
 'a nehra',
 'pa patel',
 'sp fleming',
 'sk raina',
 'ja morkel',
 'ms dhoni',
 's badrinath',
 'ms gony',
 'a mukund',
 'l balaji',
 'm muralitharan',
 'm ntini',
 'ac gilchrist',
 'vvs laxman',
 'hh gibbs',
 'rg sharma',
 'shahid afridi',
 'sb styris',
 'as yadav',
 'sb bangar',
 'rp singh',
 'dp vijaykumar',
 'pp ojha',
 'se marsh',
 'jr hopes',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'pp chawla',
 'tm srivastava',
 'rr powar',
 'vrv singh',
 's sreesanth',
 'st jayasuriya',
 'sr tendulkar',
 'am nayar',
 'rv uthappa',
 'dr smith',
 'sm pollock',
 'mk pandey',
 'yv takawale',
 'rr raje',
 'crd fernando',
 'a nehra',
 'ac gilchrist',
 'hh gibbs',
 'sb styris',
 'y venugopal rao',
 'db ravi teja',
 'shahid afridi',
 'as yadav',
 'rp singh',
 'pp ojha',
 'pm sarvesh kumar',
 'dp vijaykumar',
 'g gambhir',
 'v sehwag',
 's dhawan',
 'mk tiwary',
 'tm dilshan',
 'kd karthik',
 'mf maharoof',
 'a mishra',
 'vy mahesh',
 'mohammad asif',
 'gd mcgrath',
 'se marsh',
 'jr hopes',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 'ik pathan',
 'wa mota',
 'pp chawla',
 'rr powar',
 's sreesanth',
 'vrv singh',
 'pa patel',
 's vidyut',
 'sk raina',
 'ja morkel',
 'ms dhoni',
 'ck kapugedera',
 's badrinath',
 'ms gony',
 'l balaji',
 'm muralitharan',
 'm ntini',
 'pa patel',
 'ml hayden',
 'sk raina',
 'a flintoff',
 'ms dhoni',
 'jdp oram',
 's badrinath',
 'joginder sharma',
 't thushara',
 'ms gony',
 'r ashwin',
 'gc smith',
 'sa asnodkar',
 'nk patel',
 't henderson',
 'yk pathan',
 'ad mascarenhas',
 'ra jadeja',
 'sk warne',
 'm rawat',
 'mm patel',
 'kamran khan',
 'rs bopara',
 'k goel',
 'yuvraj singh',
 'kc sangakkara',
 'dpmd jayawardene',
 'ik pathan',
 'pp chawla',
 't kohli',
 'vs malik',
 'vrv singh',
 'ya abdulla',
 'bb mccullum',
 'ch gayle',
 'sc ganguly',
 'bj hodge',
 'a chopra',
 'lr shukla',
 'mc henriques',
 'ab agarkar',
 'm kartik',
 'i sharma',
 'ab dinda',
 'p kumar',
 'rv uthappa',
 'jh kallis',
 'lrpl taylor',
 'kp pietersen',
 'r dravid',
 'v kohli',
 'r bishnoi',
 'r vinay kumar',
 'dw steyn',
 'a kumble',
 'rs bopara',
 'k goel',
 'ik pathan',
 'kc sangakkara',
 'yuvraj singh',
 'dpmd jayawardene',
 't kohli',
 'pp chawla',
 'vs malik',
 'vrv singh',
 'ya abdulla',
 'jd ryder',
 'rv uthappa',
 'jh kallis',
 'kp pietersen',
 'r dravid',
 'v kohli',
 'r bishnoi',
 'kv sharma',
 'p kumar',
 'a kumble',
 'dw steyn',
 'pa patel',
 'ml hayden',
 'sk raina',
 'ms dhoni',
 'a flintoff',
 'ja morkel',
 's badrinath',
 'ms gony',
 'joginder sharma',
 'l balaji',
 'm muralitharan',
 'ch gayle',
 'bb mccullum',
 'lr shukla',
 'bj hodge',
 'sc ganguly',
 'sb bangar',
 'yashpal singh',
 'ab agarkar',
 'i sharma',
 'baw mendis',
 'anureet singh',
 'jd ryder',
 'rv uthappa',
 'jh kallis',
 'kp pietersen',
 'r dravid',
 'lrpl taylor',
 'v kohli',
 'p kumar',
 'r vinay kumar',
 'pankaj singh',
 'a kumble',
 'st jayasuriya',
 'sr tendulkar',
 'jp duminy',
 's dhawan',
 'dj bravo',
 'am nayar',
 'harbhajan singh',
 'z khan',
 'pr shah',
 'sl malinga',
 'ds kulkarni',
 'jh kallis',
 'rv uthappa',
 'kp pietersen',
 'lrpl taylor',
 'v kohli',
 'mv boucher',
 'b akhil',
 'r vinay kumar',
 'pankaj singh',
 'a kumble',
 'kp appanna',
 'sa asnodkar',
 'gc smith',
 'rj quiney',
 'yk pathan',
 'ad mascarenhas',
 'ra jadeja',
 'as raut',
 'sk warne',
 'm rawat',
 'mm patel',
 'kamran khan',
 'pa patel',
 'ml hayden',
 'sk raina',
 'ms dhoni',
 'jdp oram',
 'ja morkel',
 's badrinath',
 'ms gony',
 'joginder sharma',
 'l balaji',
 'm muralitharan',
 'bb mccullum',
 'ch gayle',
 'bj hodge',
 'sc ganguly',
 'yashpal singh',
 'an ghosh',
 'lr shukla',
 'i sharma',
 'baw mendis',
 'ab dinda',
 'anureet singh',
 'g gambhir',
 'v sehwag',
 'ab de villiers',
 'tm dilshan',
 'kd karthik',
 'dl vettori',
 'm manhas',
 'a mishra',
 'pj sangwan',
 'a nehra',
 'dp nannes',
 'bb mccullum',
 'ch gayle',
 'bj hodge',
 'sc ganguly',
 'mn van wyk',
 'wp saha',
 'lr shukla',
 'ab agarkar',
 'm kartik',
 'i sharma',
 'ab dinda',
 'st jayasuriya',
 'sr tendulkar',
 's dhawan',
 'jp duminy',
 'dj bravo',
 'am nayar',
 'harbhajan singh',
 'ss tiwary',
 'z khan',
 'pr shah',
 'sl malinga',
 'ac gilchrist',
 'hh gibbs',
 'aa bilakhia',
 'rg sharma',
 'tl suman',
 'dr smith',
 'y venugopal rao',
 'shoaib ahmed',
 'rp singh',
 'pp ojha',
 'fh edwards',
 'rj quiney',
 'gc smith',
 'sa asnodkar',
 'ra jadeja',
 'yk pathan',
 'ad mascarenhas',
 'sk warne',
 'm rawat',
 'mm patel',
 'sk trivedi',
 'kamran khan',
 'ch gayle',
 'sc ganguly',
 'bj hodge',
 'mn van wyk',
 'lr shukla',
 'bb mccullum',
 'wp saha',
 'ab agarkar',
 'm kartik',
 'i sharma',
 'ab dinda',
 'yuvraj singh',
 'k goel',
 'sm katich',
 'kc sangakkara',
 'dpmd jayawardene',
 'ik pathan',
 'pp chawla',
 'rr powar',
 'tm srivastava',
 'vs malik',
 'ya abdulla',
 'hh gibbs',
 'ac gilchrist',
 'aa bilakhia',
 'rg sharma',
 'tl suman',
 'dr smith',
 'y venugopal rao',
 'shoaib ahmed',
 'pp ojha',
 'rp singh',
 'fh edwards',
 'g gambhir',
 'da warner',
 'ab de villiers',
 'tm dilshan',
 'kd karthik',
 'm manhas',
 'r bhatia',
 'pj sangwan',
 'a mishra',
 'a nehra',
 'dp nannes',
 'bb mccullum',
 'ch gayle',
 'bj hodge',
 'sc ganguly',
 'mn van wyk',
 'wp saha',
 'lr shukla',
 'ab agarkar',
 'm kartik',
 'i sharma',
 'ab dinda',
 'st jayasuriya',
 'sr tendulkar',
 'am rahane',
 'jp duminy',
 'dj bravo',
 'am nayar',
 's dhawan',
 'pr shah',
 'harbhajan singh',
 'z khan',
 'sl malinga',
 'ac gilchrist',
 'hh gibbs',
 'vvs laxman',
 'rg sharma',
 'dr smith',
 'tl suman',
 'y venugopal rao',
 'rj harris',
 'rp singh',
 'shoaib ahmed',
 'pp ojha',
 's sohal',
 'kc sangakkara',
 'k goel',
 'sm katich',
 'dpmd jayawardene',
 'yuvraj singh',
 'ik pathan',
 'pp chawla',
 'rr powar',
 's sreesanth',
 'ya abdulla',
 'mn van wyk',
 'bb mccullum',
 'bj hodge',
 'mc henriques',
 'wp saha',
 'sc ganguly',
 'yashpal singh',
 'ab agarkar',
 'm kartik',
 'i sharma',
 'ab dinda',
 'st jayasuriya',
 'sr tendulkar',
 'pr shah',
 'jp duminy',
 'dj bravo',
 'am nayar',
 'harbhajan singh',
 'ss tiwary',
 'rr raje',
 'ds kulkarni',
 'sl malinga',
 'jh kallis',
 'w jaffer',
 'rv uthappa',
 'r dravid',
 'v kohli',
 'mv boucher',
 're van der merwe',
 'd du preez',
 'p kumar',
 'r vinay kumar',
 'a kumble',
 's sohal',
 'sm katich',
 'k goel',
 'yuvraj singh',
 'dpmd jayawardene',
 'kc sangakkara',
 'ik pathan',
 's sreesanth',
 'pp chawla',
 'ya abdulla',
 'vrv singh',
 'l ronchi',
 'jp duminy',
 'pr shah',
 'sr tendulkar',
 'am nayar',
 'dj bravo',
 'harbhajan singh',
 'am rahane',
 'rr raje',
 'ds kulkarni',
 ...]

In [209]:
# Count all players from losing teams to a dictionary

players_loss_count = {}

for player in player_loses:
    if player in players_loss_count:
        players_loss_count[player] += 1
    else:
        players_loss_count[player] = 1

In [230]:
# Convert dictionary to a dataframe for merging

loses = pd.DataFrame({'player': players_loss_count.keys(), 'loses': players_loss_count.values()})

In [214]:
# Use the new dictionaries to count the total number of matches for each player

matches = {}

for player in player_win_count:
    if player in players_loss_count:
        matches[player] = player_win_count[player] + players_loss_count[player]
    elif player not in players_loss_count:
        matches[player] = player_win_count[player]

for player in players_loss_count:
    if player not in player_win_count:
        matches[player] = players_loss_count[player]

In [226]:
# Convert dictionary to a dataframe for merging

matches = pd.DataFrame({'player': matches.keys(), 'matches': matches.values()})

In [231]:
# Merge the 3 new features

win_loss_merge = matches.merge(wins, on='player', how='outer')\
                        .merge(loses, on='player', how='outer').fillna(0)

In [242]:
# Confirm the output of the merge

win_loss_merge.head()

            player  matches  wins  loses  win_ratio
0       sc ganguly       58  21.0   37.0       0.36
1      bb mccullum      109  55.0   54.0       0.50
2       rt ponting       10   5.0    5.0       0.50
3        dj hussey       64  30.0   34.0       0.47
4  mohammad hafeez        8   2.0    6.0       0.25

In [236]:
# Create new column for win ratio in order to give a single target

win_loss_merge['win_ratio'] = round((win_loss_merge['wins']/win_loss_merge['matches']), 2)

In [241]:
# Final output

win_loss_merge.sort_values(by='win_ratio', ascending=False).head(2)

       player  matches  wins  loses  win_ratio
287  rw price        1   1.0    0.0        1.0
434  dm bravo        1   1.0    0.0        1.0

In [244]:
# Merge to player dataset

final_player_dataset = player_dataset.merge(win_loss_merge, on='player', how='outer').fillna(0)

In [245]:
# Export

# final_player_dataset.to_csv('~/code/patrickevans29/raw_data/final_player_dataset.csv', index=False)